{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}

{% extends "includes/base.html" %}
{% block head %}
<title>Cart</title>
{% endblock %}
{% block main %}
{% if cur_trans %}
<form method="POST">
  {{ form.hidden_tag() }}
 <ul>
    {% for line in form.lines %}
    {{ line.hidden_tag() }}
    {% set tline = cur_trans.get_line(line.product_number.data) %}
    <li>{{ line.quantity() }}{{ line.product_number }}{{ tline.label|safe }} for ${{ tline.price }} each. Total: ${{ tline.total }}</li>
  {% endfor %}
</ul>
<div class='cart-total'>Total: ${{ cur_trans.total }}</div>
    {{ form.save() }}{{ form.checkout() }}
</form>
{% else %}
<div class="empty-cart">No items in cart.</div>
{% endif %}
{% endblock %}
