{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}

{% extends "includes/base.html" %}
{% block head %}
<title>Cart</title>
{% endblock %}
{% block main %}
{% if current_order and current_order.lines %}
{% if current_user.is_anonymous %}
<div class="not-logged-in-warning">
  You are not logged in. Logging in will ensure items in your cart are saved. <a href="{{ url_for('auth.login', origin=request.path) }}">Click here to log in</a>, or if you do not have an account yet, <a href="{{ url_for('auth.register', origin=request.path) }}">click here to create one</a>.
</div>
{% endif %}
<form method="POST">
  {{ form.hidden_tag() }}
 <ul>
    {% for line in form.lines %}
    {{ line.hidden_tag() }}
    {% set tline = current_order.get_line(line.product_number.data) %}
    <li{% if not tline.in_stock %} class="out-of-stock-cart-line"{% endif %}>{% if tline.in_stock %}{{ line.quantity() }}{{ line.product_number }}{% else %}<strike>{{ tline.quantity }}{% endif %} {% if tline.product and tline.product.cultivar %}<a href="{{ tline.product.cultivar.url }}">{{ tline.label|safe }}</a>{% else %}{{ tline.label|safe }}{% endif %} for ${{ tline.price }} each. Total: ${{ tline.total }}{% if not tline.in_stock %}</strike> (Out of Stock!){% endif %} [<a title="Remove Item" class="remove-item" href="{{ url_for('shop.remove_product', product_number = tline.product_number, origin=request.path) }}">X</a>]</li>
  {% endfor %}
</ul>
<div class='cart-total'>Total: ${{ current_order.total }}</div>
    {{ form.save() }}{{ form.checkout() }}
</form>
{% else %}
<div class="empty-cart">No items in cart.</div>
{% endif %}
{% endblock %}
