{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}

{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{% from "includes/order_summary.html" import order_summary %}
{% block head %}
<title>Checkout</title>
{% endblock %}
{% block main %}
{% if current_user.is_anonymous and not guest %}
<div class="checkout-login">
  <a href="{{ url_for('auth.login', origin=request.path) }}">Log in.</a>
</div>
<div class="checkout-register">
  <a href="{{ url_for('auth.register', origin=request.path) }}">Create account.</a>
</div>
<div class="checkout-guest">
  <a href="{{ url_for('shop.checkout', guest=True) }}">Continue as guest.</a>
</div>
{% else %}
<h1>Checkout</h1>
<form id="checkout-form" method="POST">
  {{ form.hidden_tag() }}
    <fieldset id="billing-address">
      <legend>Billing Address:</legend>
      {{ form.billing_address.hidden_tag() }}
      <ol>
        <li>{{ form_field(form.billing_address.first_name)|safe }}</li>
        <li>{{ form_field(form.billing_address.last_name)|safe }}</li>
        <li>{{ form_field(form.billing_address.business_name)|safe }}</li>
        <li>{{ form_field(form.billing_address.address_line1)|safe }}</li>
        <li>{{ form_field(form.billing_address.address_line2)|safe }}</li>
        <li>{{ form_field(form.billing_address.postalcode, onblur="paymentForm.setPostalCode(this.value)")|safe }}</li>
        <li>{{ form_field(form.billing_address.city)|safe }}</li>
        <li>{{ form_field(form.billing_address.country, onchange='showStateSelect(this)')|safe }}</li>
        <li><span id="billing_address-usa-state-select">{{ form_field(form.billing_address.usa_state)|safe }}</span><span id="billing_address-can-state-select">{{form_field(form.billing_address.can_state)|safe}}</span><span id="billing_address-aus-state-select">{{form_field(form.billing_address.aus_state)|safe }}</span><span id="billing_address-other-state">{{ form_field(form.billing_address.unlisted_state)|safe }}</span></li>
        <li>{{ form_field(form.billing_address.email)|safe }}</li>
        <li>{{ form_field(form.billing_address.phone)|safe }}</li>
        <li>{{ form_field(form.billing_address.fax)|safe }}</li>
    </ol>
    </fieldset>
    <fieldset id="shipping-address">
      <legend>Shipping Address:</legend>
      {{ form.shipping_address.hidden_tag() }}
      <ol>
        <li><input type="checkbox" id= "shipping-same-as-billing" name="shipping-same-as-billing" onclick="setShippingAddress(this.form)"> <label for="shipping-same-as-billing">Same as billing address</label></li>
        <li>{{ form_field(form.shipping_address.first_name)|safe }}</li>
        <li>{{ form_field(form.shipping_address.last_name)|safe }}</li>
        <li>{{ form_field(form.shipping_address.business_name)|safe }}</li>
        <li>{{ form_field(form.shipping_address.address_line1)|safe }}</li>
        <li>{{ form_field(form.shipping_address.address_line2)|safe }}</li>
        <li>{{ form_field(form.shipping_address.postalcode)|safe }}</li>
        <li>{{ form_field(form.shipping_address.city)|safe }}</li>
        <li>{{ form_field(form.shipping_address.country, onchange='showStateSelect(this)')|safe }}</li>
        <li><span id="shipping_address-usa-state-select">{{ form_field(form.shipping_address.usa_state)|safe }}</span><span id="shipping_address-can-state-select">{{form_field(form.shipping_address.can_state)|safe}}</span><span id="shipping_address-aus-state-select">{{form_field(form.shipping_address.aus_state)|safe }}</span><span id="shipping_address-other-state">{{ form_field(form.shipping_address.unlisted_state)|safe }}</span></li>
        <li>{{ form_field(form.shipping_address.email)|safe }}</li>
        <li>{{ form_field(form.shipping_address.phone)|safe }}</li>
        <li>{{ form_field(form.shipping_address.fax)|safe }}</li>
        <li>{{ form_field(form.shipping_notes)|safe }}</li>
      </ol>
    </fieldset>
    <label>Card Number</label>
    <div id="sq-card-number"></div>
    <label>CVV</label>
    <div id="sq-cvv"></div>
    <label>Expiration Date</label>
    <div id="sq-expiration-date"></div>
    <label>Postal Code</label>
    <div id="sq-postal-code"></div>
    {{ form.review_order(onclick='requestCardNonce(event)') }}
</form>
{% endif %}
{{ order_summary(current_order) }}
{% endblock %}
{% block scripts %}
<script>
  function showStateSelect(country){
    var prefix = country.id.split("-")[0];
    if(country.value == 'USA') {
      document.getElementById(prefix.concat('-other-state')).style.display = "none";
      document.getElementById(prefix.concat('-can-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-aus-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-usa-state-select')).style.display = "inline";
    } else if (country.value == 'CAN') {
      document.getElementById(prefix.concat('-other-state')).style.display = "none";
      document.getElementById(prefix.concat('-usa-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-aus-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-can-state-select')).style.display = "inline";
    } else if (country.value == 'AUS') {
      document.getElementById(prefix.concat('-other-state')).style.display = "none";
      document.getElementById(prefix.concat('-usa-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-can-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-aus-state-select')).style.display = "inline";
    } else {
      document.getElementById(prefix.concat('-usa-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-can-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-aus-state-select')).style.display = "none";
      document.getElementById(prefix.concat('-other-state')).style.display = "inline";
    }
  };

  function setShippingAddress(f){
    if(f['shipping-same-as-billing'].checked == true) {
      f['shipping_address-first_name'].value = f['billing_address-first_name'].value;
      f['shipping_address-last_name'].value = f['billing_address-last_name'].value;
      f['shipping_address-business_name'].value = f['billing_address-business_name'].value;
      f['shipping_address-address_line1'].value = f['billing_address-address_line1'].value;
      f['shipping_address-address_line2'].value = f['billing_address-address_line2'].value;
      f['shipping_address-postalcode'].value = f['billing_address-postalcode'].value;
      f['shipping_address-city'].value = f['billing_address-city'].value;
      f['shipping_address-country'].value = f['billing_address-country'].value;
      f['shipping_address-usa_state'].value = f['billing_address-usa_state'].value;
      f['shipping_address-can_state'].value = f['billing_address-can_state'].value;
      f['shipping_address-aus_state'].value = f['billing_address-aus_state'].value;
      f['shipping_address-email'].value = f['billing_address-email'].value;
      f['shipping_address-phone'].value = f['billing_address-phone'].value;
      f['shipping_address-fax'].value = f['billing_address-fax'].value;
    } else {
      f['shipping_address-first_name'].value = '';
      f['shipping_address-last_name'].value = '';
      f['shipping_address-business_name'].value = '';
      f['shipping_address-address_line1'].value = '';
      f['shipping_address-address_line2'].value = '';
      f['shipping_address-postalcode'].value = '';
      f['shipping_address-city'].value = '';
      f['shipping_address-country'].value = 'USA';
      f['shipping_address-usa_state'].value = '0';
      f['shipping_address-can_state'].value = '0';
      f['shipping_address-aus_state'].value = '0';
      f['shipping_address-email'].value = '';
      f['shipping_address-phone'].value = '';
      f['shipping_address-fax'].value = '';
    }

    showStateSelect(document.getElementById('billing_address-country'));
    showStateSelect(document.getElementById('shipping_address-country'));
  };
  showStateSelect(document.getElementById('billing_address-country'));
  showStateSelect(document.getElementById('shipping_address-country'));
</script>
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script>
  var applicationId = 'sandbox-sq0idp-09Oc7f_zT2lFXGCmUnODkA';
  var paymentForm = new SqPaymentForm({
    applicationId: applicationId,
    inputClass: 'sq-input',
    inputStyles: [
      {
        fontSize: '15px'
      }
    ],
    cardNumber: {
      elementId: 'sq-card-number',
      placeholder: '**** **** **** ****'
    },
    cvv: {
      elementId: 'sq-cvv',
      placeholder: 'CVV'
    },
    expirationDate: {
      elementId: 'sq-expiration-date',
      placeholder: 'MM/YY'
    },
    postalCode: {
      elementId: 'sq-postal-code'
    },
    callbacks: {
      cardNonceResponseReceived: function(errors, nonce, cardData) {
        if (errors) {
          console.log("Encountered errors:");

          errors.forEach(function(error) {
            console.log(' ' + error.message);
          });
        } else {
          document.getElementById('card-nonce').value = nonce;
          document.getElementById('checkout-form').submit();
        }
      },
      unsupportedBrowserDetected: function() {
        alert('oops!')
      },
      inputEventRecieved: function(inputEvent) {
        switch (inputEvent.eventType) {
          case 'focusClassAdded':
            break;
          case 'focusClassRemoved':
            break;
          case 'errorClassAdded':
            break;
          case 'errorClassRemoved':
            break;
          case 'cardBrandChanged':
            break;
          case 'postalCodeChanged':
            break;
        }
      },
      paymentFormLoaded: function() {
        var pc = document.getElementById('billing_address-postalcode').value
        paymentForm.setPostalCode(pc)
      }
    }
  });

function requestCardNonce(event) {
  //Prevent from submitting.
  event.preventDefault();
  paymentForm.requestCardNonce();
};
</script>
<style type="text/css">
  .sq-input {
    border: 1px solid rgb(223, 223, 223);
    outline-offset: -2px;
    margin-bottom: 5px;
 }
 .sq-input--focus {
   outline: 5px auto rgb(59, 153, 252);
 }
 .sq-input--error {
   outline: 5px auto rgb(255, 97, 97);
 }
</style>
{% endblock %}
