{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Edit User</title>
    {% if ALLOW_CRAWLING %}
    {# If ALLOW_CRAWLING is False, this tag is already generated. #}
    {# If ALLOW_CRAWLING is True, we still don't want admin pages like this crawled. #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}
{% block main %}
      <h1>Edit User Information</h1>
      <form method="POST" action="{{ url_for('auth.edit_user') }}">
        {{ form.hidden_tag() }}
        <ol>
          <fieldset>
            <legend>Change Email Address:</legend>
            <li>
              {{ form_field(form.email)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.email2)|indent(14)|safe }}
            </li>
          </fieldset>
          <fieldset>
            <legend>Change Password:</legend>
            <li>
              {{ form_field(form.new_password1)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.new_password2)|indent(14)|safe }}
            </li>
          </fieldset>
          <fieldset>
            <legend>Enter Current Password to Confirm Changes:</legend>
            <li>
              {{ form_field(form.current_password)|indent(14)|safe }}
            </li>
          </fieldset>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}
