{% extends "main/base.html" %}
{% from "main/form_errors.html" import form_errors %}
<!-- head and body need 2 indents -->
{% block head %}
        <title>Edit User</title>
        <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block body %}
        <h1>Edit User Information</h1>
        {% include "main/flashed.html" %}
        <form method="POST" action="{{ url_for('auth.edit_user') }}">
        {{ form.hidden_tag() }}
            <ol>
                <fieldset>
                    <legend>Change Email Address:</legend>
                    <li>
                        {{ form.email1.label }}
                        {{ form.email1 }}
                        {{ form_errors(form.email1) }}
                    </li>
                    <li>
                        {{ form.email2.label }}
                        {{ form.email2 }}
                        {{ form_errors(form.email2) }}
                    </li>
                </fieldset>
                <fieldset>
                    <legend>Change Password:</legend>
                    <li>
                        {{ form.new_password1.label }}
                        {{ form.new_password1 }}
                        {{ form_errors(form.new_password1) }}
                    </li>
                    <li>
                        {{ form.new_password2.label }}
                        {{ form.new_password2 }}
                        {{ form_errors(form.new_password2) }}
                    </li>
                </fieldset>
                <fieldset>
                    <legend>Enter Current Password to Confirm Changes:</legend>
                    <li>
                        {{ form.current_password.label }}
                        {{ form.current_password }}
                        {{ form_errors(form.current_password) }}
                    </li>
                </fieldset>
                <li>
                    {{ form.submit }}
                </li>
            </ol>
        </form>
{% endblock %}


