{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "main/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Edit User</title>
        <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block main %}
            <h1>Edit User Information</h1>
            <form method="POST" action="{{ url_for('auth.edit_user') }}">
            {{ form.hidden_tag() }}
                <ol>
                    <fieldset>
                        <legend>Change Email Address:</legend>
                        <li>
                            {{ form.email1.label }}
                            {{ form.email1 }}
                            {% if form.email1.errors|count > 0 %}
                            {{ form_errors(form.email1) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.email2.label }}
                            {{ form.email2 }}
                            {% if form.email2.errors|count > 0 %}
                            {{ form_errors(form.email2) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Change Password:</legend>
                        <li>
                            {{ form.new_password1.label }}
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors|count > 0 %}
                            {{ form_errors(form.new_password1) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.new_password2.label }}
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors|count > 0 %}
                            {{ form_errors(form.new_password2) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Enter Current Password to Confirm Changes:</legend>
                        <li>
                            {{ form.current_password.label }}
                            {{ form.current_password }}
                            {% if form.current_password.errors|count > 0 %}
                            {{ form_errors(form.current_password) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
