{% extends "main/base.html" %}

<!-- head needs 2 indents -->
{% block head %}
        <title>Log In</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('auth.login', _external=True) }}">
{% endblock %}

<!-- body needs 2 indents -->
{% block body %}
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="flashed_message">{{ message }}</div>
        {% endfor %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth.login') }}">
            <ol>
                <li>
                {{ form.hidden_tag() }}
                {{ form.username.label }}
                {{ form.username }}
                {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
                </li>
                <li>
                {{ form.password.label }}
                {{ form.password }}
                {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
                </li>
                <li>
                {{ form.remember_me.label }}
                {{ form.remember_me }}
                </li>
                <li>
                {{ form.submit }}
                </li>
            </ol>
        </form>
{% endblock %}
