{% extends "main/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Log In</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('auth.login', _external=True) }}">
{% endblock %}
{% block main %}
            <h1>Log In</h1>
            <form method="POST">
                <ol>
                    <li>
                        {{ form.hidden_tag() }}
                        {{ form.username.label }}
                        {{ form.username }}
                        {% if form.username.errors|count > 0 %}
                        {{ form_errors(form.username) }}
                        {% endif %}
                    </li>
                    <li>
                        {{ form.password.label }}
                        {{ form.password }}
                        {% if form.password.errors|count > 0 %}
                        {{ form_errors(form.password) }}
                        {% endif %}
                    </li>
                    <li>
                        {{ form.remember_me.label }}
                        {{ form.remember_me }}
                    </li>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
