{% extends "main/base.html" %}
{% from "main/form_errors.html" import form_errors %}
<!-- head and body need 2 indents. -->
{% block head %}
    <title>Manage User</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="{{ url_for('auth.manage_user', _external=True) }}">
{% endblock %}
{% block body %}
        <h1>Manage User: {{ username }}</h1>
        {% include "main/flashed.html" %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <ol>
                <fieldset>
                    <legend>Change {{ username }}'s Email Address:</legend>
                    <li>
                        {{ form.email1.label }}
                        {{ form.email1 }}
                        {{ form_errors(form.email1) }}
                    </li>
                    <li>
                        {{form.email2.label }}
                        {{ form.email2 }}
                        {{ form_errors(form.email2) }}
                    </li>
                </fieldset>
                <fieldset>
                    <legend>Change {{ username }}'s Password:</legend>
                    <li>
                        {{ form.password1.label }}
                        {{ form.password1 }}
                        {{ form_errors(form.password1) }}
                    </li>
                    <li>
                        {{ form.password2.label }}
                        {{ form.password2 }}
                        {{ form_errors(form.password2) }}
                    </li>
                </fieldset>
                <fieldset>
                    <legend>Change {{ username }}'s Username:</legend>
                    <li>
                        {{ form.username1.label }}
                        {{ form.username1 }}
                        {{ form_errors(form.username1) }}
                    </li>
                    <li>
                        {{ form.username2.label }}
                        {{ form.username2 }}
                        {{ form_errors(form.username2) }}
                    </li>
                </fieldset>
                <fieldset>
                    <legend>Change {{ username }}'s Permissions</legend>
                    <li>
                        {{ form.manage_users.label }}
                        {{ form.manage_users }}
                        {{ form_errors(form.manage_users) }}
                    </li>
                    <li>
                        {{ form.manage_seeds.label }}
                        {{ form.manage_seeds }}
                    </li>
                </fieldset>
                <li>
                    {{ form.submit }}
                </li>
            </ol>
        </form>
{% endblock %}
