{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "main/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Manage User</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('auth.manage_user', _external=True) }}">
{% endblock %}
{% block main %}
            <h1>Manage User: {{ user.name }}</h1>
            <a class="button" id="delete_user" href="{{ url_for('auth.delete_user', uid=user.id) }}">Delete {{ user.name }}'s Account</a>
            <form method="POST">
                {{ form.hidden_tag() }}
                <ol>
                    <fieldset>
                        <legend>Change {{ user.name }}'s Account Status:</legend>
                        <li>
                            {{ form.confirmed.label }}
                            {{ form.confirmed }}
                            {% if form.confirmed.errors|count > 0 %}
                            {{ form_errors(form.confirmed) }}
                            {% endif %}
                    </fieldset>
                    <fieldset>
                        <legend>Change {{ user.name }}'s Email Address:</legend>
                        <li>
                            {{ form.email1.label }}
                            {{ form.email1 }}
                            {% if form.email1.errors|count > 0 %}
                            {{ form_errors(form.email1) }}
                            {% endif %}
                        </li>
                        <li>
                            {{form.email2.label }}
                            {{ form.email2 }}
                            {% if form.email2.errors|count > 0 %}
                            {{ form_errors(form.email2) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Change {{ user.name }}'s Password:</legend>
                        <li>
                            {{ form.password1.label }}
                            {{ form.password1 }}
                            {% if form.password1.errors|count > 0 %}
                            {{ form_errors(form.password1) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.password2.label }}
                            {{ form.password2 }}
                            {% if form.password2.errors|count > 0 %}
                            {{ form_errors(form.password2) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Change {{ user.name }}'s Username:</legend>
                        <li>
                            {{ form.username1.label }}
                            {{ form.username1 }}
                            {% if form.username1.errors|count > 0 %}
                            {{ form_errors(form.username1) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.username2.label }}
                            {{ form.username2 }}
                            {% if form.username2.errors|count > 0 %}
                            {{ form_errors(form.username2) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Change {{ user.name }}'s Permissions</legend>
                        <li>
                            {{ form.manage_users.label }}
                            {{ form.manage_users }}
                            {% if form.manage_users.errors|count > 0 %}
                            {{ form_errors(form.manage_users) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.manage_seeds.label }}
                            {{ form.manage_seeds }}
                            {% if form.manage_seeds.errors|count > 0 %}
                            {{ form_errors(form.manage_seeds) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
