{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block title %}Register{% endblock %}
{% block meta_robots %}noindex, nofollow{% endblock %}
{% block main %}
      <h1>Account Registration</h1>
      <form method="POST" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }}
        <ol>
          <li>
            {{ form_field(form.username)|indent(12)|safe }}
          </li>
          <li>
            {{ form_field(form.email)|indent(12)|safe }}
          </li>
          <li>
            {{ form_field(form.email2)|indent(12)|safe }}
          </li>
          <li>
            {{ form_field(form.password)|indent(12)|safe }}
          </li>
          <li>
            {{ form_field(form.password2)|indent(12)|safe }}
          </li>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}
