{% extends "main/base.html" %}
{% from "main/form_errors.html" import form_errors %}
<!-- head needs 2 indents -->
{% block head %}
        <title>Register</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('auth.register', _external=True) }}">
{% endblock %}

<!-- body needs 2 indents -->
{% block body %}
        <h1>Account Registration</h1>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <ol>
                <li>
                     {{ form.username.label }}
                     {{ form.username }}
                     {{ form_errors(form.username) }}
                </li>
                <li>
                    {{ form.email.label }}
                    {{ form.email }}
                    {{ form_errors(form.email) }}
                </li>
                <li>
                     {{ form.email2.label }}
                     {{ form.email2 }}
                     {{ form_errors(form.email2) }}
                </li>
                <li>
                     {{ form.password.label }}
                     {{ form.password }}
                     {{ form_errors(form.password) }}
                </li>
                <li>
                     {{ form.password2.label }}
                     {{ form.password2 }}
                     {{ form_errors(form.password2) }}
                </li>
                <li>
                     {{ form.submit }}
                </li>
            </ol>
        </form>
{% endblock %}
