{% extends "main/base.html" %}
{% from "main/form_errors.html" import form_errors %}
<!-- head needs 2 indents -->
{% block head %}
        <title>Request Password Reset</title>
        <meta name="robots" content="noindex, nofollow">
{% endblock %}

<!-- body needs 2 indents -->
{% block body %}
        <h1>Request Password Reset</h1>
        {% include "main/flashed.html" %}
        <p>Please enter the email address associated with your account to request a password reset: </p>
        <form method="POST" action="{{ url_for('auth.reset_password_request') }}">
            <ol>
                <li>
                    {{ form.hidden_tag() }}
                    {{ form.email.label }}
                    {{ form.email }}
                    {{ form_errors(form.email) }}
                </li>
                <li>
                    {{ form.submit }}
                </li>
            </ol>
        </form>
{% endblock %}
