{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{# HTML within blocks should be indented as follows for consistency: #}
{% block head %}
<title>404 Error</title>
{% if ALLOW_CRAWLING %}
{# If ALLOW_CRAWLING is False, this tag is already generated. #}
{# If ALLOW_CRAWLING is True, we still don't want error pages like this crawled. #}
<meta name="robots" content="noindex, nofollow">
{% endif %}
{% endblock %}
{% block main %}
<h1 class="mt150- mb150-">We're unable to find the page you're looking for!</h1>
<h2> It may have been transplanted<br> or accidentally tossed into the compost pile!</h2>
{% endblock %}
