{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{% block title %}Swallowtail Garden Seeds - Contact{% endblock %}
{% block meta_robots %}noindex, follow{% endblock %}
{% block main %}
				<h1>
					Contact Swallowtail Garden Seeds
				</h1>
				<h2>
					Address:
				</h2>
				<p>
					S.G.S.
					<br>
					122 Calistoga Road, #178
					<br>
					Santa Rosa, CA 95409
				</p>
				<h2>
					Phone:
				</h2>
				<p>
					Toll Free 1-877-489-7333 or 707-538-3585
					<br>
					Our staff assisted hours are Monday through Friday, 9 AM to 5 PM (Pacific Standard Time).
				</p>
				<h2>
					Fax:
				</h2>
				<p>
					Toll Free fax line 1-855-726-7333 or 707-538-3584
					<br>
          We welcome fax orders, 24 hours a day, 7 days a week. A link to our	<a href="{{ url_for('seeds.printable_order_form') }}">Print Order Form</a>	can be found near the lower left corner on any page of our online catalog.
				</p>
				<h2>
					Email:
				</h2>
				<p>
					<a class="main" href="mailto:info@swallowtailgardenseeds.com">info@swallowtailgardenseeds.com</a>
					<br>
					<br>
					Email questions and comments are always welcome. We respond to most emails within 24 hours. Emails sent over the weekend are typically answered by the end of the next business day.
				</p>
{% endblock %}
{% block scripts %}
 <script src="https://www.swallowtailgardenseeds.com/scripts/other-scripts.js"></script>
 {% endblock %}
