{% extends "main/base.html" %}

<!-- head needs 2 indents -->
{% block head %}
        <title>Swallowtail Garden Seeds</title>
        <link rel="canonical" href="{{ url_for('main.index', _external=True) }}">
{% endblock %}

<!-- body needs 2 indents -->
{% block body %}
        {% include "main/flashed.html" %}
        <p>In Soviet Russia, website visits YOU!</p>
        <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus elit eget mauris posuere semper. Suspendisse varius vel libero ac eleifend. Aenean sed ex viverra, suscipit sem sollicitudin, egestas sapien. Integer at hendrerit nulla. In pharetra facilisis neque, a condimentum metus lacinia in. Donec felis libero, suscipit quis turpis ac, rhoncus viverra mauris. Donec ultricies quis diam at accumsan. Sed laoreet dui sapien, vel porta enim laoreet vel. Donec sodales dui enim. Vestibulum magna velit, maximus nec finibus eget, molestie non sapien. Aenean consequat pretium nibh sit amet varius.

        Etiam semper ac tortor vitae consequat. Quisque vestibulum eros quis euismod tempor. Proin id pulvinar diam, sed fermentum ipsum. Integer turpis felis, euismod a dapibus ac, gravida consequat diam. In et tortor lacinia, viverra ex semper, feugiat augue. Ut libero enim, tempor vel fermentum in, mattis vel magna. Suspendisse feugiat neque vel mollis dapibus. Suspendisse fermentum dolor non diam viverra commodo. Nullam mi mi, fermentum nec lacinia sit amet, scelerisque sit amet odio. Phasellus congue, velit in hendrerit convallis, eros ipsum viverra lorem, a varius mi mauris ac eros. Aliquam consequat, velit quis fermentum cursus, nulla dolor scelerisque purus, et tristique arcu nisl vitae neque. Proin eget diam at justo gravida sodales. Aliquam sit amet viverra ligula, ac tincidunt orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus facilisis dignissim orci vitae pellentesque. Mauris et volutpat ligula.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc nec dui ut nulla tincidunt ultricies vel sed metus. Sed rutrum massa ut magna accumsan condimentum. Proin venenatis purus non purus pretium scelerisque. In dui justo, pellentesque et nisi a, mattis tempus est. Fusce vel euismod arcu. Nam nec sem quam. Pellentesque a congue velit. In eu libero ac odio lacinia convallis eu id massa. Curabitur eu venenatis ligula. Aenean finibus sit amet ligula nec vestibulum.

        Suspendisse ac feugiat tellus. Donec mattis et eros id aliquet. Aenean dictum leo nec nunc aliquet, in hendrerit nibh dapibus. Suspendisse iaculis magna nec porta dignissim. Suspendisse in fringilla neque, nec hendrerit diam. Fusce a maximus lectus. In hendrerit, metus at tempor hendrerit, tortor arcu rhoncus odio, quis fermentum nunc quam vel ex. Aenean elementum at ex eu hendrerit. Sed eget lectus neque. Nam iaculis pretium ullamcorper. Ut accumsan lectus vel dictum semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sed sem placerat, elementum nisi accumsan, molestie tortor. Nunc vitae mi at ex efficitur tristique.

        Donec consequat, mi ut euismod ornare, lorem turpis imperdiet ipsum, eget fringilla eros tortor sed eros. Proin laoreet velit sed velit imperdiet suscipit. Mauris maximus sodales libero, quis auctor ipsum interdum a. Etiam et orci ornare, sagittis orci sit amet, convallis nisi. Vestibulum efficitur purus dolor, quis varius massa faucibus a. Sed bibendum risus ipsum, eget varius tortor faucibus ut. Etiam metus sapien, pellentesque et placerat rutrum, volutpat ac odio. Ut in enim urna. Phasellus vehicula iaculis purus vel vehicula. Mauris a finibus enim. </p>
{% endblock %}
