{% extends "main/base.html" %}

<!-- head needs 2 indents -->
{% block head %}
        <title>Swallowtail Garden Seeds</title>
        <link rel="canonical" href="{{ url_for('main.index', _external=True) }}">
{% endblock %}

<!-- body needs 2 indents -->
{% block body %}
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <span class="flashed_message">{{ message }}</span>
        {% endfor %}
        {% endwith %}
        <p>In Soviet Russia, website visits YOU!</p>
{% endblock %}
