# We want this directory to be in the repository, but not its contents.
*
!.gitignore

# We don't want to ignore the default thumbnail image, either.
!default_thumb.jpg

# The banner would be nice to have, too.
!sgs-banner.jpg
