/* BEGIN reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}
/* END reset */

/* BEGIN defaults for most page elements */
html {
    background: linear-gradient(#fff, #e8bf68);
    background: -moz-linear-gradient(#fff, #e8bf68);
    background: -o-linear-gradient(#fff, #e8bf68);
    background: -webkit-linear-gradient(#fff, #e8bf68);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

body {
    background-color: #7F9A65;
    border: .08em solid #222;
    font-family: 'Droid sans', 'Lucida Sans Unicode', Helvetica ,Arial ,sans-serif;
    font-size: 16px;
    margin: 1% auto;
    max-width: 980px;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.375em;
    font-weight: 700;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

h4 {
    font-size: 1.1em;
    font-weight: 600;
}

p {
    padding: .5em 0;
    text-indent: 2em;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:link {
    color: #487289;
}

a:visited {
    color: #48895f;
}

a:hover {
    color: #b34141;
}

b,
strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}
/* END defaults for most page elements */

/* BEGIN masthead */
#masthead {
    box-sizing: border-box;
}

#masthead .contact {
    border-bottom: .08em solid #222;
    color: #f6f6f6;
    font-size: 1.1em;
    font-weight: 700;
    padding: .3em;
}

#masthead .contact a:link {
    color: #f6f6f6;
}

#masthead .contact a:hover {
    color: #222;
}

#masthead .email {
    float: right;
}

#banner {
    border-bottom: .08em solid #222;
    max-width: 100%;
}

/* BEGIN nav-main */
#nav-main {
    padding: .25em 0 .3em 0;
    text-align: center;
}

#nav-main ul {
    margin: 0 auto;
}

#nav-main li, 
#nav-main a {
    color: #222;
 }

#nav-main a {
    font-family: 'droid serif', 'Didot LT STD', 'Garamond', serif;
    position: relative;
}

/* BEGIN nav-seeds */
#nav-seeds li {
    background-color: #e0e5ea;
    border-radius: .25em;
    display: inline-block;
    line-height: 2;
    margin: .5em .1em 0 .1em;
    padding: .25em 0 .15em 0;
    text-align: center;
    width: 31%;
}

#nav-seeds li:hover {
    background-color: #eff2f4;
}

#nav-seeds a {
    font-size: 1.25em;
    font-weight: 700;
}

/* BEGIN mobile-menu */
.mobile-menu {
    display: None;
}
/* END mobile-menu */

/* END nav-seeds */

/* BEGIN nav-user */
#nav-user {
    display: block;
    text-align: right;
}

#nav-user li {
    display: inline;
}
/* END nav-user */

/* BEGIN nav-admin */
#nav-admin {
    display: block;
    text-align: right;
}

#nav-admin li {
    display: inline;
}
/* END nav-admin */
/* END nav-main */
/* END header */

/* BEGIN main */
#main {
    background-color: #f7f7f7;
    border-top: .08em solid #222;
    border-bottom: .08em solid #222;
    display: block;
    font-family: 'Droid serif', Georgia, 'Times New Roman', serif;
    padding: .5em 1.5em;
}
/* END main */

/* BEGIN breadcrumbs */
#breadcrumbs {
    display: block;
    font-size: .8em;
    color: #833;
}

#breadcrumbs li {
    display: inline;
}

#breadcrumbs a {
    text-decoration: underline;
}

#breadcrumbs a:link {
    color: #7f9a65;
}

#breadcrumbs a:visited {
    color: #657f9a;
}

#breadcrumbs li+li:before {
    content: '> ';
}
/* END breadcrumbs */

/* BEGIN categories */
.category {
    border: 1px solid #afa;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.2em;
}
/* END categories */

/* BEGIN flashed messages */
.flashed_message, .flashed_error, .flashed_warning {
    display: block;
    clear: both;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.flashed_list {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    list-style-type: disc;
}

.flashed_message {
    background-color: #aaffaa;
    border-color: #66ff66;
}

.flashed_error {
    background-color: #ffaaaa;
    border-color: #ff6666;
}

.flashed_warning {
    background-color: #ffee88;
    border-color: #eedd22;
}
/* END flashed messages */

/* BEGIN buttons */
input[type=submit], a.button {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #223322;
    border-style: solid;
    border-width: 1px;
    border-color: #339933;
    border-radius: 0.4em;
    background-color: #55cc55;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

input[type=submit]:hover, a.button:hover {
    background-color: #77dd77;
    border-color: #55bb55;
}

input[type=submit]:active, a.button:active {
    border-style: inset;
    text-shadow: -1px -1px 1px #223322;
}

a#delete_user {
    background-color: #cc5555;
    border-color: #993333;
    text-shadow: 1px 1px 1px #332222;
    float: left;
}

a#delete_user:hover {
    background-color: #dd7777;
    border-color: #bb5555;
}

a#delete_user:active {
    text-shadow: -1px -1px 1px #3322;
}
/* END buttons */

/* BEGIN forms */
form {
    clear: both;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
form li {
    display: block;
    margin-bottom: 1em;
}

form fieldset {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #99ff99;
    margin-bottom: 0.5em;
    padding: 0.5em;
    vertical-align: top;
}

fieldset legend {
    border: 1px solid #00dd00;
    padding: 0.25em;
}

label {
    text-align: left;
}

label + input, label + textarea, label + select[multiple] {
    display: block;
    margin-top: 0.2em;
}

label + input[type=checkbox] {
    display: inline;
}

input[type=checkbox] + label {
    display: inline;
}


input[type=text], input[type=password], textarea, select[multiple] {
    width: 240px;
    font-family: monospace;
    color: black;
    background-color: white;
    border: 1px solid #888;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    background-color: #ffff99;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover {
    border: 1px solid #88f;
    background-color: #ddf;
}

label:after {
    content: ": ";
}

input[type=radio] + label:after {
    content: None;
}

.form_error {
    background-color: #faa;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    max-width: 240px;
    display: block;
    box-sizing: border-box;
}
/* END forms */

/* BEGIN common name page formatting */
.cn-header {
    display: block;
}

.cn-header a {
    display: inline-block;
    margin: .2em 0;
}

.cn-group-header {
    border: 1px solid #222;
    display: block;
    margin: .5em 0;
    padding: .5em 0;
    text-align: center;
}

.cn-group-header p,
.cn-group-header a {
    border-top: 1px solid #222;
}

.cn-individuals-header h2 {
    display: block;
    margin: .5em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #222;
}

.botanical-names {
    font-size: .9em;
    font-weight: 500;
    font-style: italic;
}

.to-planting-instructions {
    background: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    padding: .2em;
    margin: 2em;
}

/* BEGIN cultivar groups */
.cultivar-group {
    border: 1px solid #DDD;
}

/* END cultivar groups */

/* BEGIN planting instructions */
.planting-instructions {
    display: block;
    border: 1px solid #222;
    text-align: center;
    margin-top: 2em;
}

.planting-instructions h2 {
    border-bottom: 1px solid #222;
}

.planting-instructions h2,
.planting-instructions p {
    padding: .5em;
}

/* END planting instructions */
/* END common name page formatting */

/* BEGIN cultivar */
.cultivar {
    box-sizing: border-box;
    display: block;
    padding: 0.5em;
    vertical-align: top;
}

.cultivar+.cultivar {
    border-top: 1px solid #DDD;
}

.cultivar:nth-child(odd) {
    background: #EEE;
}

.cultivar .thumbnail {
    float: right;
    margin-left: 1em;
    max-width: 300px;
    max-height: 300px;
}

.cultivar h3 {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: top;
}

.cultivar p {
    margin-right: 1em;
}

.common-name,
.botanical-name {
    display: block;
}

.botanical-name {
    font-size: .8em;
}

.packet-info {
    clear: both;
}

/* END cultivar */

/* BEGIN cultivar admin */
.cultivar-admin {
    background: #fff;
    border: 1px solid #aaa;
    margin-top: .5em;
    padding: .5em;
}

.cultivar-admin li {
    margin: .5em .2em;
}

.cultivar-admin a+a:before {
    content: ' | ';
}

.packet-admin {
    border-top: 1px solid #aaa;
    margin-top: .5em;
    padding-top: .5em;
}
/* END cultivar admin */

/* BEGIN status */
.status-true {
    background: #afa;
}

.status-false {
    background: #faa;
}
/* END status */

/* BEGIN toggles */
.toggle-false,
.toggle-true {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0 .5em;
}

.toggle-false {
    background: #faa;
}

.toggle-true {
    background: #afa;
}
/* END toggles */

/* BEGIN fractions */
.fraction sup {
    vertical-align: super;
    font-size: 0.6em;
}

.fraction sub {
    font-size: 0.6em;
}
/* END fractions */

/* BEGIN last commit */
div.last_commit {
    text-align: center;
}   
/* END last commit */

/* BEGIN footer */
.footer {
    margin: 0 auto;
    width: 70%;
}

.footer p {
    text-align: center;
    text-indent: none;
}
/* END footer */
