/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}
/* end reset */

html {
    height: 100%;
    background: linear-gradient(#eefaff, #446611);
    background: -moz-linear-gradient(#eefaff, #446611);
    background: -webkit-linear-gradient(#eefaff, #446611);
    background: -o-linear-gradient(#eefaff, #446611);
    background-attachment: fixed;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Defaults */
body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding: 1em;
    background-color: #feffdd;
}
h1 {
    color: #060;
    border-bottom: 0.3em solid #4f4;
    padding-bottom: 0.2em;
    margin-bottom: 0.4em;
    font-size: 1.5em;
}

.flashed_message {
    display: inline-block;
    background-color: #aaffaa;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: #66ff66;
}
.flashed_error {
    display: inline-block;
    background-color: #ffaaaa;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: #ff6666;
}

/* form elements */
form li {
    display: block;
}
form fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: #99ff99;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: fit-content;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
}
fieldset legend {
    border: 1px solid #00dd00;
    padding: 0.25em;
}

label {
    display: inline-block;
    margin-right: 0.5em;
    width: 10em;
    max-width: 80%;
    text-align: right;
}
input {
    display: inline-block;
}
input[type=text], input[type=password], textarea {
    min-width: 200px;
    width: 20%;
    font-family: monospace;
    color: black;
    background-color: white;
    border: 1px solid #888;
    margin-top: 2px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    background-color: #ffff99;
}
input[type=text]:hover, input[type=password]:hover, textarea:hover {
    border: 1px solid #88f;
    background-color: #ddf;
}
input[type=submit] {
    margin-top: 0.5em;
    margin-left: 13em;
}
label:after {
    content: ": ";
}
.form_error {
    background-color: #faa;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin: 0.2em;
    display: inline-block;
}

@media (max-width: 800px) {
    input[type=submit] {
        margin-left: 0;
    }
    input {
        display: block;
        margin-bottom: 0.5em;
    }
    label {
        display: block;
        text-align: left;
        margin-top: 0.5em;
    }
    .form_error:before {
        content: "^ ";
    }
}

/* form tooltips */
span.tooltip {
    margin-right: 50px;     /* This should = margin-right + padding-right of body */
    z-index: 10;
    background-color: #ddf;
    color: #000;
    padding: 3px 6px 3px 6px;
    border: 1px solid #99b;
    margin-left: 1em;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #668;
}
input + span.tooltip, textarea + span.tooltip {
    display: none;
}
input:hover + span.tooltip, textarea:hover + span.tooltip {
    display: inline;
    position: absolute;
}
