/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}
/* end reset */

html {
    height: 100%;
    background: linear-gradient(#eefaff, #446611);
    background: -moz-linear-gradient(#eefaff, #446611);
    background: -webkit-linear-gradient(#eefaff, #446611);
    background: -o-linear-gradient(#eefaff, #446611);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 40px;
    padding: 10px;
    background-color: #feffdd;
}

h1 {
    color: #060;
    border-bottom: 0.3em solid #4f4;
    padding-bottom: 0.2em;
    margin-bottom: 0.4em;
    font-size: 1.5em;
}


/* form elements */
label {
    float: left;
    text-align: right;
    width: 6em;
    margin-right: 0.5em;
}
input[type=text], textarea {
    width: 40%;
    font-family: monospace;
    color: black;
    background-color: white;
    border: 1px solid #888;
    margin-top: 2px;
}
input:focus, textarea:focus {
    background-color: #ffff99;
}
input.submit {
    width: 6em;
    margin-left: 7em;
   margin-top: 0.5em; 
}
label:after {
    content: ": ";
}
.error {
    background-color: #faa;
}

/* tooltips */
a.tooltip {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #66f;
    border: 1px solid #006;
    border-radius: 8px;
    font-size: x-small;
    vertical-align: top;
    padding: 1px 3px 1px 3px;
    margin-top: 2px;
    margin-left: 4px;
}
a.tooltip span {
    display: none;
    font-size: medium;
    margin-right: 50px;     /* This should = margin-right + padding-right of body */
    z-index: 10;
    background-color: #ddf;
    color: #000;
    padding: 3px 6px 3px 6px;
    border: 1px solid #99b;
    margin-left: 1em;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #668;
}
a.tooltip:hover span {
    display: inline;
    position: absolute;
}
