html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
*,:before,:after{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
b,strong{font-weight:700}
dfn{font-style:italic}
mark{background:#fff;color:#141823}
small{font-size:70%}
img{border:0}
svg:not(:root){overflow:hidden}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{font-family:monospace,monospace;font-size:1em;overflow:auto}
button,input{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input{line-height:normal}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
html{font-size:62.5%}
body{font-size:1.6em;line-height:1.5}
@media all and (min-width:20em){
/*begin keep tight*/
.bold{font-weight:700;}.fs110{font-size:1.1em;}.fs95{font-size:.95em}.fs90,.fs90-{font-size:.9em}.fs85{font-size:.85em}.fs80{font-size:.80em}.margin-top-25{margin-top:.25em}.margin-top-50{margin-top:.5em}.margin-top-75{margin-top:.75em}.margin-top-100{margin-top:1em}.margin-top-150{margin-top:1.5em}.margin-top-200{margin-top:2em}.margin-top-250{margin-top:2.5em}.margin-top-300{margin-top:3em}.margin-bottom-25{margin-bottom:.25em}.margin-bottom-50{margin-bottom:.5em}.margin-bottom-75{margin-bottom:.75em}.margin-bottom-100{margin-bottom:1em}.margin-bottom-150{margin-bottom:1.5em}.margin-bottom-200{margin-bottom:2em}.margin-bottom-250{margin-bottom:2.5em}.margin-bottom-300{margin-bottom:3em}.padding-bottom-50{padding-bottom:.5em}.padding-bottom-75{padding-bottom:.75em}.padding-bottom-100{padding-bottom:1em}.padding-bottom-150{padding-bottom:1.5em}.padding-bottom-200{padding-bottom:2em}
/*end keep tight*/
#container{background:#fff}
.Page_header,.Footer{position:relative;clear:both}
.Page_header{font-family:"Droid Sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif;font-size:.97em}
.Page_header-contact-bar{text-align:center;padding:.5em 0;margin:0 0 .75em 0;font-weight:700;background:#6ea746;color:#fff}
.Page_header-contact-bar-email-link:link,.Page_header-contact-bar-email-link:visited{text-decoration:none;color:#fff}
.Page_header-contact-bar-email-link:hover{color:#f7f7f7}
.Page_header-logo{display:inline-block;width:57%;max-width:17em;height:auto;margin:0 0 .25em .5em}
.seal-and-cart{float:right;width:7.5em;height:3.5em;margin:3% 1%}
.Page_header .AuthorizeNetSeal,.Page_header .Page_header-cart{display:inline-block;width:48%;height:auto;vertical-align:top}
.Page_header .AuthorizeNetSeal img{max-width:100%;height:auto}
.Page_header .Page_header-cart{padding-top:.2em}
.Google_search{min-height:3em;width:90%;max-width:25em;margin:0 auto}
.Google_search input.gsc-search-button-v2{box-sizing:content-box;padding:.9em 2.25em;margin-top:.45em}
.Google_search .gsc-control-cse{border:0}
.Google_search #gsc-iw-id1,.Google_search .gsib_b{height:36px}
.Google_search .gsc-webResult{padding:1em;text-align:left;font-weight:400}
.Google_search .gsc-cursor-page{padding:.3em}
.Main_nav{text-align:center;font-weight:700;font-size:1.1em;border-top:1px solid #bababa;margin:.6em 0 .35em 0}
.Main_nav-menu-icon{font-size:115%}
.Main_nav-show-hide-links,.Main_nav-not-shown-links{display:none;text-decoration:none}
.Main_nav:target .Main_nav-not-shown-links{display:block}
.Main_nav:not(:target)>a:first-of-type,.Main_nav:target>a:last-of-type,.Main_nav-not-shown-links a:link,.Main_nav-not-shown-links a:visited{color:#fff;padding:.9em .5em;display:block;border-bottom:1px solid #bababa;text-decoration:none}
.Main_nav a:link,.Main_nav a:visited{background:#6ea746}
.Main_nav a:hover{background:#62943e}
.Global_message-box{color:#b34141;margin-bottom:.35em;padding:.35em .4em .2em .4em;text-align:center;font-size:.85em;font-weight:400;border-top:solid 1px #e3e3e3;border-bottom:solid 1px #e3e3e3}
.Global_message-box span{color:#141823;font-weight:400;}
.Global_message-box span span {color:#b34141;}
#main{font-family:"Droid Sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif;font-size:100%;margin:0;padding:0 .5em .5em .5em;text-align:center}
.group a{font-weight:700;font-size:.96em;text-decoration:none;border-bottom:1px solid #141823}
.group a:link{color:#4e7bba}
.group a:visited{color:#4e7bba}
.group a:hover{color:#466ea7;border:0}
.group a:hover img{border:1px solid #4b43ab;opacity:.95}
.group ul{font-size:1.05em;margin-bottom:2em;margin-top:-.5em}
.group ul li{margin-bottom:.75em}
h1,h2,h3,h4{font-family:"Droid Serif",Georgia,"Times New Roman",serif;color:#141823}
p{font-size:1em;line-height:1.5;color:#141823}
h1{font-size:1.5em;line-height:1}
h2{font-size:1.3em;line-height:1}
h3{font-size:1.2em;line-height:1.1}
i{font-weight:700}
mark{font-weight:700}
small{display:none;margin-bottom:0}
em{display:block;font-weight:400;font-size:.95em}
/*the style below affects the free shipping notice*/
p span{color:#141823;font-weight:700}
/*the style above affects the free shipping notice*/
.group b,.group strong{font-weight:400}
/*delete .crumbs when sure schema completely removed*/
.crumbs li{display:inline-block;padding:0 .3em}
.crumbs{font-size:.85em}
.crumbs a:link{color:#436fab;font-weight:400;border:none;text-decoration:underline}
.crumbs a:visited{color:#436fab}
.crumbs a:hover{border:0}
/*delete .crumbs when sure schema completely removed*/
.breadcrumbs{padding:.15em 0}
.breadcrumb li{display:inline;font-size:.85em}
.breadcrumb a:link{font-weight:400;border:none}
.breadcrumb li::after{content:"\2215";padding-left:.1em;margin-right:-.2em}
.breadcrumb li.active{font-size:.8em}
.breadcrumb li.active::after{content:none}
.fb-like{min-height:1.5em;margin-top:.6em}
/*begin onpagenav*/
.page-navigation{margin-top:.25em}
.page-navigation a:link{padding-bottom:.25em;font-size:.85em;margin:.25em .25em;display:inline-block}
.onpagenav{padding:0;text-align:center;border:0;margin:0;overflow:auto}
h2[class^="button"]{color:#4e7bba;font-weight:700;display:inline-block;float:left;font-size:.8em;background:#f0f6ec;padding:.35em .625em .25em;white-space:nowrap;outline:0;text-decoration:underline;margin:1em 0 0 0}
h2[class^="button"]::after{content:"\00BB";margin-left:.25em}
.onpagenav_h2-font-size-mod{font-size:.75em;padding:.2em;margin-bottom:0;margin-top:-.005em;color:#292e37}
h2[class^="button"]:hover{color:#466ea7;text-decoration:none}
.button1,.onpagenav .button2{width:50%}
.button20{width:19.9999%}
.button25{width:24.9999%}
.button33{width:33.3333%}
.button50{width:49.9999%}
.button66{width:66.6666%}
.button100{width:99.9999%}
.Series h2[class^="button"]{margin:0}
/*end onpagenav*/
.Header{margin-bottom:1em}
.Header_h1{font-size:2em}
.Header_p{margin-top:-1.75em;margin-left:.1em;font-size:.85em}
.Header_p[class$="before"]::before{margin-right:.35em;font-size:1em;display:block;font-weight:700;line-height:1.5}
.Header_h2{font-size:1.45em;margin:-.85em 0 .25em;font-weight:400}
.Header_h3{margin-top:-1.5em;margin-bottom:1.75em;font-size:.85em;line-height:1.4;margin-left:.1em;font-style:italic}
.Header_h2+.Header_h3{margin-top:-.5em;margin-bottom:1.75em;font-size:.85em;line-height:1.4}
/*begin sun icons*/
/*sun or part shade*/.sun-or-part-shade-before::before{content: "\1F315 \1F313  full sun to part shade"}
/*full sun*/.sun-before::before{content: "\1F315  full sun"}
/*full sun mild climates, part to light shade...*/.sun-or-part-shade-or-light-shade-before::before{content: "\1F315 \1F313 \1F311  full sun in mild climates, part shade to light shade elsewhere"}
/*part shade*/.part-shade-before::before{content: "\1F313  part shade"}
/*part shade to light shade*/.part-shade-or-shade-before::before{content: "\1F313 \1F311  part shade to light shade"}
/*part shade to full shade*/.part-shade-or-full-shade-before::before{content: "\1F313 \1F311  part shade to full shade"}
/*sun, part shade where hot*/.sun-part-shade-where-hot-before::before{content: "\1F315 \1F313  full sun, part shade in hot climates"}
/*sun, part shade, and shade*/.sun-part-shade-before::before{content: "\1F315 \1F313 \1F311  full sun, part shade, or light shade"}
/*end sun icons*/
.Introduction{margin-top:1.25em;margin-bottom:1.5em}
.Introduction_p,.Introduction a{margin-top:.5em}
.Introduction_p-p{margin-top:.25em}
.Introduction_h2{font-size:1.35em;margin-top:.25em;margin-bottom:.25em}
/*begin margins between divs*/
.Introduction + section[class$="seeds"]{margin-top:-2em}
.Introduction + section[class*="section"],.Section + section[class$="seeds"] .Series,.Section + section[class*="section"] .Series,.Series,.Section + section[class*="series"] .Series{margin-top:-1em}
.Introduction + .Cultivar{margin-top:2em}
.Section + .Cultivar{margin-top:4em}
.Introduction + section[class*="series"] {margin-top:3em}
/*end margins between divs*/
.Section{margin:2em auto;overflow:hidden;/*leave as hidden*/}
.Section_h2{background:#f0f3f6;margin:0 0 .75em 0;padding:.4em}
.Section_p{color:#141823}
.Section_em{font-size:.9em;display:block}
.Section_em2{font-size:.55em;margin-top:0;margin-bottom:.5em;display:block;font-family:"Droid Sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif}
.Series_divider{border:0;border-top:2px solid #f0f3f6;width:100%;height:1.5em}
.Series{margin:2em auto;overflow:hidden;/*leave as hidden*/}
.Series_h2{background:#f0f3f6;margin:0 0 .25em 0;padding:.4em}
.Series_h3{margin-top:.4em}
.Series_p{margin:1em auto;padding:.35em}
.Series_p-p{margin-top:-.75em}
.Series_em{font-size:.85em;display:block;line-height:1.1;margin-top:-.05em}
.Series_em2{font-size:.5em;display:block;font-family:"Droid Sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif}
.Cultivar{margin-bottom:1.5em;margin-top:2em;overflow:hidden}
.Cultivar_img{width:100%;height:auto;margin-top:.1em;margin-bottom:-.5em;max-width:15.625em}
.Cultivar_span_new{font-size:.95em;color:#b34141;font-weight:700;display:block;margin:0}
.Cultivar_span_best_seller::before{font-size:.9em;color:#b34141;font-weight:700;display:block;margin:.0 0 0 1.2em;content: "\2605 Customer Favorite"}
.Cultivar_h3{margin-top:.8em}
.Cultivar_em{line-height:.9;font-style:italic;font-size:1em;display:block;color:#141823;font-weight:400}
.Cultivar_em2{font-size:.8em;display:block;margin-top:.25em;font-family:"Droid Sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif}
.Cultivar_p{margin:.5em auto .75em}
.Cultivar_p_span{display:inline-block;font-weight:400}
.Cultivar_p-p{margin-top:-.25em}
.Cultivar_p em,.Cultivar_p-p em{display:inline;font-weight:700}
.Cultivar_do_not_ship{color:#141823;font-size:.85em;display:block;font-weight:700;font-style:italic;margin-top:-.95em;margin-left:1.3em;margin-bottom:1em}
.Cultivar_p.margin-top_1em{margin-top:1em}
/*begin cart*/
.Cultivar_table{text-align:center;display:block;margin-bottom:1.5em}
.Cultivar_table_size_price{background:#f4f6f8;padding:.2em;font-size:.95em}
.Cultivar_button_submit{font-family:'book-antiqua',Palatino,'lucida sans unicode',"Droid Sans";font-size:.9em;text-transform:uppercase;background:#4e7bba;color:#fff;min-width:10em;width:50%;max-width:15em;height:2.3em;font-weight:400;transition:background .05s;padding-top:.25em;padding-bottom:.25em;vertical-align:bottom}
.Cultivar_button_submit:hover{background:#466ea7}
.Cultivar_button_submit:disabled{background:#616161;opacity:.8}
.Cultivar_button_submit a:active{position:relative;top:1px;left:1px}
.Cultivar_button_submit:focus {outline:none;}
.Cultivar_table_text{min-width:2.75em;width:66%;border:1px solid #7e7e7e;text-align:center;height:2em;font-weight:400}
.Cultivar_table_text:focus{border:1px solid #141823}
.Cultivar_table_qty{background:#f4f6f8;width:25%;vertical-align:middle;text-align:right;padding-right:.5em;border:0;font-weight:400;letter-spacing:.005em;font-size:.95em}
.Cultivar_table_th{background:#f4f6f8;width:25%;vertical-align:middle;text-align:left;font-size:.95em}
.Cultivar_table_th2{background:#f4f6f8;width:50%;height:2.3em;text-align:left}
/*end cart*/
.RelatedLinks{margin-bottom:2.5em;margin-top:2.5em;padding:.5em}
.RelatedLinks_p{margin-bottom:.5em}
.RelatedLinks a:link{text-decoration:none;border-bottom:none}
.RelatedLinks_figure{display:inline-block;vertical-align:top;width:7.25em;margin:.3125em 0 .5em}
.RelatedLinks_figcaption{line-height:1.2;text-align:center;width:95%;font-size:.8em;display:inline-block;font-weight:700;margin:0 0 0 -.13em}
.RelatedLinks_img{margin-bottom:.15em;width:100%;height:auto;max-width:100px}
.RelatedLinks_img:hover{outline:0;border:1px solid #4b43ab}
.Growing{margin-top:2em;margin-bottom:2em;padding:0}
.Growing span{color:#141823;font-weight:700}
.Growing_p{margin:0 auto;padding:.4em;font-size:1em}
.Growing_p_p{margin-top:1em}
.Growing_h2{background:#f0f3f6;margin:0 0 .5em 0;font-size:1.5em;padding:.4em}
.Growing_img{-ms-transform:rotate(-15deg);-webkit-transform:rotate(-15deg);transform:rotate(-15deg);float:right;margin-top:2em;margin-left:1em;max-width:100px;height:auto;width:100%}
.Growing_img-straight{float:right;margin-top:2em;margin-left:.5em;max-width:150px;height:auto;width:100%}
.Sidebar{display:none}
.Footer{border-top:1px solid #e3e3e3;padding:.5em;text-align:center;font-family:"Droid sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif}
.Footer_site-map-link:link,.Footer_site-map-link:visited{display:inline-block;text-decoration:none;color:#62943e;font-size:1em;border-bottom:1px solid #6ea746;font-weight:700;margin-bottom:.25em}
.Footer_site-map-link:hover{color:#62943e;border-bottom:1px solid #fff}
.Footer_copyright_p{padding:.35em;font-weight:700;font-size:.75em}
.Footer_copyright_p2{font-weight:400}
.Footer_siteseal{margin:.4em}
.Footer .AuthorizeNetSeal{margin:.6em auto}
.Sidebar .AuthorizeNetSeal{margin:.25em auto .75em auto}
.open-cart{color:#4e7bba;text-decoration:underline}
.open-cart:hover{cursor:pointer;color:#466ea7;text-decoration:none}
#snipcart-discounts{display:none}
#snipcart-header .snip-header__title{color:#fff}
#snipcart-header{background:#6ea746}
#snipcart-footer{background:#6ea746}
#snipcart-header-total .snip-header__total-label{color:#fff}
#snipcart-cartitems-continue-top{background:#4e7bba}
#snipcart-cartitems-continue-top:hover{background:#466ea7}
#snipcart-actions .js-next{background:#b34141;color:#fff;}
#snipcart-footer .snip-footer__copyright{background-image: url("http://www.swallowtailgardenseeds.com/images/lock.png")}
#snipcart-footer .snip-footer__copyright,#snipcart-footer .snip-footer__highlight{color:#000}
table.bulk-items{width:96%;margin:2em auto}
.bulk-items tr{display:block;width:100%;font-size:90%;padding:1em 0;border-bottom:1px solid #e3e3e3}
.bulk-items tr:nth-child(1){border-top:1px solid #e3e3e3}
.bulk-items td:nth-child(1){display:inline-block;padding-left:1%;width:35%;text-align:left;vertical-align:middle}
.bulk-items td:nth-child(2){display:none}
.bulk-items td:nth-child(3){display:inline-block;padding-left:2%;width:15%;vertical-align:middle;text-align:center}
.bulk-items td:nth-child(4){display:inline-block;padding-left:3%;width:15%;vertical-align:middle}
.bulk-items input{text-align:center;width:100%}
.bulk-items td:nth-child(5){display:inline-block;padding:0 1% 0 2%;width:26%;text-align:center;vertical-align:middle}
}
@media all and (min-width:48em){
html{background:#f8f9fb}
body{margin:0 auto;max-width:98%}
#container{margin:0 auto;border-right:1px solid #e3e3e3;border-left:1px solid #e3e3e3}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.no-desktop-display{display:none}
.margin-bottom-minus-300{margin-bottom:-3em}
.Page_header{min-height:9.4em}
.Page_header-contact-bar{text-align:left;font-size:1.2em;padding:.15em .6em;margin-bottom:.35em}
.Page_header-contact-bar-email-link{float:right}
.seal-and-cart{margin:1.5em .75em}
.Google_search{display:inline-block;padding-top:.3em;width:40%;min-height:4em;margin:1.7em 0 0 3.5%;vertical-align:top}
.Main_nav{border:0;margin:0;min-height:2.4em;/*border:1px solid blue;*/}
.Main_nav-links li{display:block;float:left;margin:0;padding:0;box-sizing:border-box}
.Main_nav-ann-lnk{width:20.5%}
.Main_nav-vin-lnk{width:21.5%}
.Main_nav-per-lnk{width:23.5%}
.Main_nav-veg-lnk{width:15.5%}
.Main_nav-her-lnk{width:10%}
.Main_nav-blk-lnk{width:8.9999%}
.Main_nav:target>ul li.Main_nav-not-shown-links,.Main_nav-not-shown-links{display:inline-block}
.Main_nav-show-hide-links,.Main_nav:not(:target)>a:first-of-type,.Main_nav:target>a:last-of-type{display:none}
.Main_nav-not-shown-links a:link,.Main_nav-not-shown-links a:visited{border-bottom:0;padding:.4em 0;margin:0 .04em;color:#fff}
.Global_message-box{margin:.25em 0 0 0}
#main{text-align:left;margin-right:1.55em;margin-left:14.9em;float:right;padding:0}
p{margin:0 1em 0 0;line-height:1.5;color:#141823}
.group p{font-family:"Lucida Grande","Lucida Sans Unicode","Droid Sans",Tahoma,sans-serif}
b{font-weight:400}
h1{font-size:2em;line-height:1}
h2{font-size:1.625em;line-height:1}
h3{font-size:1.375em;line-height:1.1}
.seeds-block p{font-size:1.05em;line-height:1.5;margin:0 3em 1em 0;text-indent:3em}
.onpagenav{margin:0;margin-top:.75em;border:0}
.fb-like{float:right;margin-top:-1.45em}
.Introduction{margin-right:2em}
.Introduction_p b{font-weight:400}
.Section{margin-bottom:3em;margin-top:3em}
.Section{border:1px solid #f0f3f6}
.Section_h2{text-align:center}
.Section_p{text-align:center;margin:0}
.Series{border:1px solid #f0f3f6}
.Series_h2{text-align:left}
.Series_p{padding-left:.85em;margin-top:-.25em}
.Series_p-p{padding-left:.85em}
.Cultivar_table{min-width:25em;margin-bottom:0;width:50%}
.Cultivar{margin-bottom:4em;margin-top:3em;/*border:1px solid #a8a8a8;*/text-align:left}
.Cultivar_img{float:left;margin:0 .75em .1em 0;vertical-align:text-top}
.Cultivar_small{display:block;line-height:1.3;margin-bottom:-1.6em;margin-left:1.6em;color:#873557;font-size:.7em}
.Cultivar_h3{margin-left:.75em}
.Cultivar_em{line-height:.9;font-style:italic;font-size:.9em;display:block;color:#141823;font-weight:400}
.Cultivar_em2{font-size:.65em;display:block;margin-top:.25em}
.Cultivar_p{margin:-.75em .5em 1em 1em}
.RelatedLinks{padding-left:1.25em;padding-right:1.25em}
.Growing{border:1px solid #f0f3f6}
.Growing_h2{text-align:center;font-size:1.5em}
.Growing_p{text-align:left;margin:0 auto;padding:0 .8em .5em 1em}
.Growing a:link{color:#6ea746;border:0;text-decoration:underline}
.Growing a:link:hover{text-decoration:none}
/*.Growing_p-p is correct, others to be removed once changes made*/
.Growing_p:nth-of-type(2),.Growing_p_p,.Growing_p-p{padding:0 .8em 1em 1em;text-align:left}
.Growing_p-p-p{padding:0 .8em 1em 1em;text-align:left;margin-top:-.5em}
.Growing_img{-ms-transform:rotate(-15deg);-webkit-transform:rotate(-15deg);transform:rotate(-15deg);float:right;margin-top:2em;margin-left:1em;max-width:100px;height:auto;width:100%}
.Growing_img-straight{float:right;margin-top:2em;margin-left:.5em;max-width:150px;height:auto;width:100%}
/*.Growing_h2::before{content: "\1f331";font-size:1em;margin-right:.15em}*/
/*.Growing_p:first-of-type::before{content: "\1f331";margin-right:.35em}*/
/*this is needed in both breaks for it to work properly, why?*/
#back-top{position:fixed;bottom:225px;margin-left:-190px}
#back-top a{width:100px;display:block;text-align:center;font-size:12px!important;text-transform:uppercase;text-decoration:none;color:#bbb;transition:1s}
#back-top a:hover{color:#b34141}
#back-top span{width:100px;height:100px;display:block;margin-bottom:7px;background:#a5a5a5 url(http://www.swallowtailgardenseeds.com/assets/up-arrow.png) no-repeat center center;border-radius:15px;transition:1s}
#back-top a:hover span{background:#b34141}
.Sidebar{display:block;float:left;width:13.1em;margin-right:-13.1em;padding:.45em .3em}
.Sidebar_new-seeds{display:block;padding:.5em;margin:.5em .35em 1em;border:1px solid #832f2f;transition:.05s;font-weight:700;text-align:center}
.Sidebar_new-seeds,.Sidebar_new-seeds:visited{color:#6ea746}
.Sidebar_new-seeds:hover{background:#f6f6f6}
.Sidebar_new-seeds:active{background:#832f2f;border-color:#7f9a65}
.Sidebar_social{margin:0;padding:0;text-align:center}
.Sidebar_social_image{width:1.875em;height:1.875em;margin:.125em .15em 0;opacity:.9}
.Sidebar_social_image:hover{border:1px solid #b34141;opacity:.95}
/*styling for sidebar free shipping message*/
.Sidebar_special-info{margin:.5em 0;padding:.5em 0;background:#f0f3f6;border:solid 1px #d8dadd;text-align:center;font-weight:700;color:#141823}
.Sidebar_special-info span{white-space:nowrap;color:#141823}
/*controls font size for sidebar section name only*/
.Sidebar_nav-section-name-span{font-size:1.15em}
.Sidebar_nav{margin:.75em 0 2em .34em;list-style:none;font-weight:700}
.Sidebar_nav>li{margin:.5em 0;padding-left:.15em}
.Sidebar_subnav{margin:.25em 0 1em 0em;list-style:none;font-weight:400}
.Sidebar_subnav li{padding:.13em 0 .13em .26em}
/*controls decoration, color, font size and border for all sidebar links*/
.Sidebar_nav a:link{text-decoration:none;color:#62943e;font-size:1em;border-bottom:none}
.Sidebar_nav a:visited{color:#62943e}
.Sidebar_nav a:hover{color:#62943e;border:0}
/*Armenian Basket Flower, any other long name may need this. .95em is 95% of Xem of existing font */
ul.Sidebar_subnav li span{font-size:.95em}
.Footer br{display:block}
.bulk-items td:nth-child(1){display:inline-block;width:28%}
.bulk-items td:nth-child(2){display:inline-block;width:17%}
.bulk-items td:nth-child(3){display:inline-block;width:13%}
.bulk-items td:nth-child(4){display:inline-block;width:12%}
.bulk-items td:nth-child(5){display:inline-block;width:21%}
}
@media all and (min-width:55em){
#container{max-width:1200px}
.Google_search{margin-left:10%}
}