{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{% block title %}Chitting Seed Starting Method | Illustrated Instructions{% endblock %}
{% block meta_description %}Chitting, also called greensprouting, is a method of starting the seed germination process before the seeds meet the soil.{% endblock %}
{% block meta_keywords %}chitting, swallowtail garden seeds{% endblock %}
{% block style %}
      .Sidebar_nav a.tips-stand-out:link{color:#000}
      .Header{margin-bottom:2em}
      h2.methods{margin-bottom:1.5em;text-align:center;padding-right:4em}
      .group li {margin-bottom:.25em;line-height:1.5;/*margin-right:6em*/;padding-left:.1em}
      .group ul {margin-top:.25em;list-style-position: outside;margin-right:0}
      .group ul.abc {list-style-type: lower-alpha;list-style-position: outside}
      p {font-weight:700;font-size:1em;margin-top:-.25em;margin-bottom:1em;color:#b34141}
      p.clear-left {clear:left;color:#b34141;margin-top:-2em}
      .steering img {float:left;margin-right:3em;padding-bottom:.25em;margin-bottom:1em}
      div.steering {overflow:hidden;margin-bottom:3em}
      .fs150{font-size:1.5em;margin-bottom:2em;margin-top:2em}
      .fs135{font-size:1.35em;margin-bottom:0}
      p span {display:inline-block;font-size:1em}
      address {margin-bottom:2em}
{% endblock %}
{% block main %}
				<div class="Header" id="chitting-seeds">
					<h1 class="Header_h1">
						Chitting Seeds
					</h1>
					<h2 class="Header_h2">
						Methods of Chitting:
					</h2>
				</div>
				<div class="steering"><img alt="" height="300" src="https://www.swallowtailgardenseeds.com/gardens/chitting/chitting-roots.JPG" width="300">
					<p>
						Chitting is a long proven method of seed-starting which will:
					</p>
					<ul class="margin-left">
						<li>
							Deliver maximum seed sprouting efficiency.
						</li>
						<li>
							Save time because you will only plant viable seeds.
						</li>
						<li>
							Make certain you will experience gardening success even when spring has not yet sprung.
						</li>
					</ul>
				</div>
				<p class="clear-left fs135">
					Why would you want to chit seeds?
				</p>
				<p>Because the chitting method solves many of your seed-starting challenges:
				</p>
				<ul>
					<li>
						You are starting a small amount of rare or expensive seed and need to achieve the highest germination rate possible.
					</li>
					<li>
						You have a supply of older, likely low germination seed you would love to grow and enjoy one more year.
					</li>
					<li>
						Your soil is too cold to direct sow, yet now is the time to plant if your vision of a full season of mouthwatering vegetables, savory herbs, and plentiful flowers is to be seen.
					</li>
				</ul>
				<p>
					Facts about Chitting:
				</p>
				<ul>
					<li>
						Also referred to as greensprouting, chitting is a method of starting the seed germination process before the seeds meet the soil.
					</li>
					<li>
						The word chit is from 17th Century dialect, meaning shoot or sprout.
					</li>
					<li>
						Chitting most commonly refers to potatoes, but the process is easily adapted to just about any type of seed.
					</li>
					<li>
						By providing moisture and warmth, chitting gets the first roots to emerge from a seed before planting it.
					</li>
					<li>
						When chitting, you can provide near perfect conditions for your seeds to begin the germination process, and eliminate the disappointment of planting unviable seeds.
					</li>
					<li>
						Chitting provides an opportunity for children of all ages to witness in close detail the fascinating process of seed germination.
					</li>
				</ul>
				<h2 class="methods">
 <!-- Described below are two methods of chitting.--> METHODS OF CHITTING</h2> <!--<p>One involves a glass jar; the other some moist paper towels in a plastic bag.
 </p>
-->
				<div class="steering">
					<img alt="" height="300" src="https://www.swallowtailgardenseeds.com/gardens/chitting/chitting-soaking.jpg" width="300">
					<p class="fs135">
						Glass Jar Method
					</p>
					<p>
						Step 1:
					</p>
					<ul class="abc">
						<li>
							Place your seeds in a glass jar and cover them generously with warm, not hot, water for 4 to 6 hours or so, but not more than 8 hours.
						</li>
						<li>
							Cover the jar with a couple of layers of cheesecloth, or a piece of window screen, and secure with a rubber band (or the lid ring if it is a canning jar).
						</li>
					</ul>
				</div>
				<div class="steering">
					<img alt="" height="300" src="https://www.swallowtailgardenseeds.com/gardens/chitting/chitting-rinsing.jpg" width="392">
					<p>
						Step 2:
					</p>
					<ul class="abc">
						<li>
							After soaking, rinse several times with warm water, and drain completely.
						</li>
						<li>
							You may notice that the seeds are swelling already at this point. Put the jar on its side in a warm place, (near the sink is convenient) and for the next several days, repeat the rinsing and draining process twice a day.
						</li>
						<li>
							If the seeds you are starting require darkness to germinate, cover the jar with a dishtowel or newspaper.
						</li>
					</ul>
				</div>
				<div id="step3" class="steering">
					<img alt="" height="300" src="https://www.swallowtailgardenseeds.com/gardens/chitting/chitting-roots.JPG" width="300">
					<p>
						Step 3:
					</p>
					<ul class="abc">
						<li>
							As soon as the first roots have emerged from the seed coats, carefully plant them directly in the garden or in pots, with the root pointing down whenever possible, not pointing upwards.
						</li>
						<li>
							Please note that the root is very delicate, so cover the seeds lightly with moist soil or seedling mix and water gently.
						</li>
						<li>
							If you are sowing the seeds outdoors and the weather is cool, don’t water unless the soil is dry.
						</li>
						<li>
							You should notice the seed leaves popping up in just a few days.
						</li>
					</ul>
				</div>
				<div class="steering">
					<img alt="" height="300" src="https://www.swallowtailgardenseeds.com/gardens/chitting/chitting-towel1.JPG" width="300">
					<p class="fs135"> Paper Towel Method
					<p>
						Step 1:
					</p>
					<ul class="abc">
						<li>
							Fold a paper towel into fourths, dip in warm water, loosely roll up and wring it out gently.
						</li>
						<li>
							Unroll and pull up two layers of the paper towel and place seeds inside with space between each seed.
						</li>
						<li>
							Fold the two top layers back on top of the seeds and place inside a clear plastic bag.
						</li>
						<li>
							Don’t seal the bag; air should be able to flow in and out.
						</li>
					</ul>
				</div>
				<div class="steering">
					<img alt="" height="300" src="https://www.swallowtailgardenseeds.com/gardens/chitting/germinating-seeds-in-bag.jpg" width="300">
					<p>
						Step 2:
					</p>
					<ul class="abc">
						<li>
							Place the bag in a warm location (on top of the refrigerator is good, or on a heat mat if you have one)
						</li>
						<li>
							Check twice per day. If the paper towel seems dry, mist with a spray bottle filled with lukewarm water.
						</li>
					</ul>
				</div>
				<div class="steering">
					<img alt="" height="300" src="https://www.swallowtailgardenseeds.com/gardens/chitting/chitting-seedling.jpg" width="300">
					<p>
						Step 3:
					</p>
					<ul class="abc">
						<li>
							This step is identical for both the glass jar and the paper towel methods. <a href="#step3">See here.</a>
						</li>
					</ul>
				</div>
				<span id="back-top"><a href="#top"><span></span>Back to Top</a></span>
				<address>
					Written by <a href="mailto:info@swallowtailgardenseeds.com" title="contact Mary">Mary Garcia</a>.
				</address>
{% endblock %}
{% block scripts %}
<script src="https://www.swallowtailgardenseeds.com/scripts/other-scripts.js"></script>
{% endblock %}
