{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{% block title %}Drought Tolerant Plants | 64 Perennial and Annual flowers{% endblock %}
{% block meta_description %}Drought tolerant plants. Illustrated list of 64 Annual and Perennial flowers that will save you water.{% endblock %}
{% block style %}
      .Sidebar_nav a.tips-stand-out:link{color:#000}
      .RelatedLinks a{border:none}
      .RelatedLinks{margin-top:0}
      .RelatedLinks_h2{font-size:1.5em}
      .group p{text-indent:3em;margin-bottom:1em}
      address{margin-bottom:2em}
{% endblock %}
{% block main %}
				<div id="drought-tolerant-plants" class="Header"><h1 class="Header_h1">Drought Tolerant Plants </h1>
					<!--HOW TO SAVE WATER--> <!--WHICH PLANTS SAVE WATER--><!--PERENNIAL PLANTS THAT SAVE WATER--><!--HOW TO SAVE WATER IN THE GARDEN--><!--USE LESS WATER IN THE GARDEN--><!--PLANTS THAT USE LESS WATER--><!--DROUGHT TOLERANT CUT FLOWERS--><!--PLANTS THAT CAN LIVE WITHOUT WATER--><!--LOW MAINTENANCE PLANTS THAT DON'T USE A LOT OF WATER--><!--LOW MAINTENANCE DROUGHT TOLERANT-->
					<p>
						Do you live in a drought-prone region that requires you to plant water-wisely, or just want to reduce the amount of water you need in the garden? Using plants that require less water is one of the most important steps to succeed in cutting down on your water use.
 <!--is to use plants that require less water to thrive. -->
					</p>
					<h3>
					Follow a few easy guidelines to decrease the water needs of a beautiful, successful garden:
				</h3>
				<ul>
					<li>
						Choose plants that use less moisture.  You have many beautiful choices of <a href="#drought-tolerant-perennials" title="Drought tolerant perennial plants.">drought tolerant perennials</a> and <a href="#drought-tolerant-annuals" title="Drought tolerant annual plants.">drought tolerant annuals</a> with the natural ability to flourish with little water. 
					</li>
					<li>
						Transplant seedlings into larger pots or into the garden before they become root-bound.  Root systems that have been crowded into a tiny space for too long will have a more difficult time extending and establishing themselves.
					</li>
					<li>
						Mulch around your plants to help retain the moisture in the soil and provide protection against the hot sun for your plants’ root system. Keep the mulch from touching your plant stems and leaves.
					</li>
					<li>
						Provide ample water to newly planted seedlings to develop their biggest ace in the hole: deep-reaching root systems.
					</li>
					<li>
						Water in the morning or early evening, not in the heat of the day, to reduce evaporation. Instead of many light sprinklings, give your plants a deep soaking less frequently.  Your seedlings’ roots will grow larger, longer, and more able to withstand longer dry periods.					</li>
				</ul>
					<div class="RelatedLinks"><h2 id="drought-tolerant-perennials" class="RelatedLinks_h2">Drought Tolerant Perennials</h2>
						<a href="https://www.swallowtailgardenseeds.com/perennials/armeria.html">
							<figure class="RelatedLinks_figure"><img alt="Armeria flowers" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/armeria-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Armeria
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/asparagusfern.html">
							<figure class="RelatedLinks_figure"><img alt="Asparagus Fern plants" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/asparagus-fern-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Asparagus Fern
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/basketofgold.html">
							<figure class="RelatedLinks_figure"><img alt="Basket-of-Gold flower clusters" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/basket-of-gold-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Basket-of-Gold
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/butterflybush.html">
							<figure class="RelatedLinks_figure"><img alt="Butterfly Bush plumes" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-butterfly-bush-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Butterfly Bush
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/coreopsisper.html">
							<figure class="RelatedLinks_figure"><img alt="Coreopsis" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/coreopsis-grandiflora-rising-sun-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Yellow Coreopsis
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/evening_primrose.html">
							<figure class="RelatedLinks_figure"><img alt="Evening Primrose" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-evening-primrose-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Evening Primrose
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/gaillardia.html">
							<figure class="RelatedLinks_figure"><img alt="Gaillardia plants are drought tolerant. Perennial" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/gaillardia-bee-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Gaillardia
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/gaura.html">
							<figure class="RelatedLinks_figure"><img alt="Gaura" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-gaura-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Gaura
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/armenian_basket.html">
							<figure class="RelatedLinks_figure"><img alt="Armenian Basket Flowers" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-armenian-basket-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Giant Knapweed
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/globe_thistle.html">
							<figure class="RelatedLinks_figure"><img alt="Globe Thistle" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/globe-thistle-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Globe Thistle
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/grassesassortedper.html#Blue-Select-Fescue-grass-seeds">
							<figure class="RelatedLinks_figure"><img alt="Fescue Grasses" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-blue-fescue-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Fescue Grasses
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/iceplant.html">
							<figure class="RelatedLinks_figure"><img alt="Ice" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-hardy-ice-plant-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Ice Plants
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/jupiters_beard.html">
							<figure class="RelatedLinks_figure"><img alt="Jupiter's Beard" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/jupiters-beard-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Jupiter's Beard
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/lavender.html">
							<figure class="RelatedLinks_figure"><img alt="Lavender" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/lavender-companions.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Lavender
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/herbs/oregano_greek.html">
							<figure class="RelatedLinks_figure"><img alt="Oregano" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant-oregano-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Oregano
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/penstemon.html">
							<figure class="RelatedLinks_figure"><img alt="Penstemon" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-penstemon-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Penstemon
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/poppy_oriental.html">
							<figure class="RelatedLinks_figure"><img alt="Oriental Poppy" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/poppy-oriental-red-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Oriental Poppies
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/herbs/rosemary.html">
							<figure class="RelatedLinks_figure"><img alt="Rosemary" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant-rosemary-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Rosemary
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/russiansage.html">
							<figure class="RelatedLinks_figure"><img alt="Russian Sage" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/russian-sage-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Russian Sage
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/salviaper.html">
							<figure class="RelatedLinks_figure"><img alt="Salvia" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/salvia-new-dimension-blue-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Salvia
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/sempervivum.html">
							<figure class="RelatedLinks_figure"><img alt="Sempervivum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-sempervivum-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Sempervivum
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/snowinsummer.html">
							<figure class="RelatedLinks_figure"><img alt="Snow-in-summer" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-snow-in-summer-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Snow-in-Summer
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/herbs/stjohnswort.html">
							<figure class="RelatedLinks_figure"><img alt="St. Johns Wort" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant-st-johns-wort-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									St. Johns Wort
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/stachys.html">
							<figure class="RelatedLinks_figure"><img alt="Stachys" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/stachys-lambs-ear-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Stachys
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/thymeper.html">
							<figure class="RelatedLinks_figure"><img alt="Thyme" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant-thyme-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Thyme
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/verbascum.html">
							<figure class="RelatedLinks_figure"><img alt="Verbascum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-verbascum-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Verbascum
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/verbena.html">
							<figure class="RelatedLinks_figure"><img alt="Verbena" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/verbena-bonariensis-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Verbena
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/perennials/yarrow.html">
							<figure class="RelatedLinks_figure"><img alt="Yarrow" height="100" src="https://www.swallowtailgardenseeds.com/image-assets/companions/yarrow-flower-burst-red-shades-companion.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Yarrow
								</figcaption>
							</figure></a>
						<h2 id="drought-tolerant-annuals" class="RelatedLinks_h2">Drought Tolerant Annuals</h2>
						<a href="https://www.swallowtailgardenseeds.com/annuals/angelonia.html">
							<figure class="RelatedLinks_figure"><img alt="Angelonia" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-angelonia-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Angelonia
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/alyssum.html">
							<figure class="RelatedLinks_figure"><img alt="Alyssum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_alyssum_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Alyssum
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/anchusa_blue_angel_annual.html">
							<figure class="RelatedLinks_figure"><img alt="" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_anchusa_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Anchusa
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/herbs/borage.html">
							<figure class="RelatedLinks_figure"><img alt="Borage" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant_borage_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Borage
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/brachycome.html">
							<figure class="RelatedLinks_figure"><img alt="Brachycome" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_brachycome_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Brachycome
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/canna.html" title="Canna">
							<figure class="RelatedLinks_figure"><img alt="Canna" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_canna_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Canna
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/vines/cardinal_climber.html">
							<figure class="RelatedLinks_figure"><img alt="Cardinal Climber" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/vines/plant_cardinal_climber_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Cardinal Climber
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/cleome.html">
							<figure class="RelatedLinks_figure"><img alt="Cleome" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_cleome_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Cleome
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/commelina.html">
							<figure class="RelatedLinks_figure"><img alt="Commelina" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-commelina-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Commelina
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/cosmos.html">
							<figure class="RelatedLinks_figure"><img alt="Cosmos" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-cosmos-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Cosmos
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/vines/cypress_vine.html">
							<figure class="RelatedLinks_figure"><img alt="Cypress Vine plants are drought tolerant. Vines seeds." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/vines/plant_cypress_vine_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Cypress Vine
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/dichondra.html">
							<figure class="RelatedLinks_figure"><img alt="Dichondra" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-dichondra-silver-falls-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Dichondra
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/dustymiller.html">
							<figure class="RelatedLinks_figure"><img alt="Dusty Miller" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-dusty-miller-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Dusty Miller
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/herbs/epazote.html">
							<figure class="RelatedLinks_figure"><img alt="Epazote" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant_epazote_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Epazote
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/vines/firecracker.html">
							<figure class="RelatedLinks_figure"><img alt="Firecracker Vine" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/vines/plant_firecracker_vine_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Firecracker Vine
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/gazania.html">
							<figure class="RelatedLinks_figure"><img alt="Gazania" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_gazania_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Gazania
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/bluethimble.html">
							<figure class="RelatedLinks_figure"><img alt="Blue Thimble Flowers" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_blue_thimble_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Globe Gilia
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/honeywort.html">
							<figure class="RelatedLinks_figure"><img alt="Honeywort" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_honeywort_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Honeywort
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/vines/hyacinthvine.html">
							<figure class="RelatedLinks_figure"><img alt="Hyacinth Vine" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/vines/plant-hyacinth-vine-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Hyacinth Vine
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/livingstone.html">
							<figure class="RelatedLinks_figure"><img alt="Livingstone Daisy" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_livingstone_daisy_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Livingstone Daisy
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/herbs/thistle_milk.html" title="Milk Thistle">
							<figure class="RelatedLinks_figure"><img alt="Milk Thistle" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant_milk_thistle_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Milk Thistle
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/osteospermum.html">
							<figure class="RelatedLinks_figure"><img alt="Osteospermum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-osteospermum-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Osteospermum
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/paper_daisy.html">
							<figure class="RelatedLinks_figure"><img alt="Paper Daisy" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_paper_daisy_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Paper Daisy
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/poppy_ca.html">
							<figure class="RelatedLinks_figure"><img alt="California Poppy" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_california_poppy_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									California Poppies
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/poppy_shirley.html">
							<figure class="RelatedLinks_figure"><img alt="Shirley Poppy" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_poppy_shirley_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Shirley Poppies
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/portulaca.html">
							<figure class="RelatedLinks_figure"><img alt="Portulaca" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_portulaca_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Portulaca
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/ptilotus.html">
							<figure class="RelatedLinks_figure"><img alt="Ptilotus" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_ptilotus_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Ptilotus
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/salvia.html#Mealy-Cup-Sage-salvia-seeds">
							<figure class="RelatedLinks_figure"><img alt="Mealy-Cup Sage" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-mealy-cup-sage-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Mealy-Cup Sage
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/herbs/savory_summer.html">
							<figure class="RelatedLinks_figure"><img alt="Summer Savory" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/herbs/plant_summer_savory_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Summer Savory
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/scarlet_flax.html">
							<figure class="RelatedLinks_figure"><img alt="Scarlet Flax" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_scarlet_flax_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Scarlet Flax
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/strawflower.html">
							<figure class="RelatedLinks_figure"><img alt="Strawflower" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_Strawflower_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Strawflower
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/tidytips.html">
							<figure class="RelatedLinks_figure"><img alt="Tidytips" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-tidytips-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Tidytips
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/tithonia.html">
							<figure class="RelatedLinks_figure"><img alt="Tithonia" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant-tithonia-flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Tithonia
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/verbenaann.html">
							<figure class="RelatedLinks_figure"><img alt="Verbena" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_verbena_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Verbena
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/vinca.html">
							<figure class="RelatedLinks_figure"><img alt="Vinca" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_vinca_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Vinca
								</figcaption>
							</figure></a>
						<a href="https://www.swallowtailgardenseeds.com/annuals/zinnias.html">
							<figure class="RelatedLinks_figure"><img alt="Zinnia" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/annuals/plant_zinnia_flowers.jpg" width="100">
								<figcaption class="RelatedLinks_figcaption">
									Zinnia
								</figcaption>
							</figure></a>
					</div>
					<address>
						Written by <a href="mailto:info@swallowtailgardenseeds.com" title="contact Mary">Mary Garcia</a>.
					</address>
				</div>
{% endblock %}
{% block scripts %}
<script src="https://www.swallowtailgardenseeds.com/scripts/other-scripts.js"></script>
{% endblock %}
