{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{% block title %}First-Year Flowering Perennials from Seed | Illustrated List{% endblock %}
{% block meta_description %}Perennials that flower the first year from seed. 60+ varieties of perennial flowers that will flower the same year the seed is sown. Easy to use illustrated list, easy to grow plants.{% endblock %}
{% block meta_keywords %}swallowtail garden, garden, flowers, annual flowers, vegetables, biennials, perennials, herbs, flowering vines, wholesale, bulk, cheap{% endblock %}
{% block style %}
      .Sidebar_nav a.tips-stand-out:link{color:#000}
      .RelatedLinks a{border:none}
      .RelatedLinks{margin-top:-.5em}
{% endblock %}
{% block main %}
				<div class="Header" id="perennials-first-year-flowers-tips-and-lists">
					<h1 class="Header_h1">
						First-year Flowering Perennials from Seed
					</h1>
				</div>
				<div class="Introduction">
					<p class="Introduction_p">
						Many gardeners are hesitant to try starting perennials by seed because of the notion that you will not get to enjoy the flowers the first year. This is true for some perennials, but if you sow seeds for the perennials on this list early in the season, they will reward you by flowering within the same year. Some perennials even rival annual flowers, taking just a couple of months to flower from seed.
					</p>
					<p class="Introduction_p-p">
						If you want the advantage of not needing to replant your garden beds every season, but still have gorgeous flowers the first year, this plant list is a good place to start when planning your next garden project. A gardening budget can go much farther by not having to purchase these first year flowering perennials in pots at the nursery. Besides, there is something so immensely gratifying about watching your plants emerge from something as tiny as a seed, and then live on to create enduring beauty for many years to come.
					</p>
				</div>
				<div class="RelatedLinks">
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/agastache.html">
						<figure class="RelatedLinks_figure">
							<img alt="Agastache spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-agastache-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Agastache
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/aster.html#Alpine-aster-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Aster alpinus " height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-aster-alpine-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Alpine aster
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/armeria.html">
						<figure class="RelatedLinks_figure">
							<img alt="Armeria maritima splendens " height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-armeria-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Armeria
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/balloon_flower.html#astra-series-balloon-flower-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Pladycladon grandiflorus" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-balloon-flower-astra-series-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Astra balloon flower
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/blackberry_lily.html">
						<figure class="RelatedLinks_figure">
							<img alt="Belamcanda chinensis" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-blackberry-lily-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Blackberry Lily
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/grassesassortedper.html#Blue-Fescue-grass-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Festuca glauca" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-blue-fescue-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Blue Fescue
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/flax.html#Saphyr-Blue-flax-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Linum perenne" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-flax-saphyr-blue-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Saphyr Blue Flax
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/butterflybush.html">
						<figure class="RelatedLinks_figure">
							<img alt="Buddleia davidii" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-butterfly-bush-miss-butterfly-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Butterfly Bush
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/butterfly_weed_peren.html">
						<figure class="RelatedLinks_figure">
							<img alt="Asclepias spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-gay-butterflies-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Butterfly Weed
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/candytuftper.html">
						<figure class="RelatedLinks_figure">
							<img alt="Iberis sempervirens" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-candytuft-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Snowflake Candytuft
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lobeliaper.html#Cardinal-Flower-lobelia-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Lobelia cardinalis" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lobelia-cardinal-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Cardinal Flower
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/dianthus.html#Grenadin-Series-dianthus-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Dianthus caryophyllus" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-carnation-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Grenadin Dianthus
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/chaenorhinum.html">
						<figure class="RelatedLinks_figure">
							<img alt="Chaenorhinum origanifolium" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-chaenorrhinum-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Chaenorhinum
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/chinese_foxglove.html">
						<figure class="RelatedLinks_figure">
							<img alt="Chinese Foxglove blooming" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-chinese-foxglove-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Chinese Foxglove
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/columbine.html#Origami-Hybrid-columbine-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Origimi Columbinine flowers" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-columbine-origami-series-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Origami Columbine
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/coral_bells.html#Melting-Fire-coral-bells-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Heuchera hybrida" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-coral-bells-melting-fire-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Melting Fire Coral Bells
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/coreopsisper.html">
						<figure class="RelatedLinks_figure">
							<img alt="Coreopsis spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-coreopsis-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Coreopsis
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/delphinium.html">
						<figure class="RelatedLinks_figure">
							<img alt="Delphinium spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-delphinium-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Delphinium
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/dianthus.html#Arctic-Fire-dianthus-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Dianthus deltoides" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-dianthus-arctic-fire-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Arctic Fire Dianthus
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/dianthus.html#Barbarini-Red-sweet-william-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Dianthus barbatus" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-dianthus-barbarini-red-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Barbarini Red Sweet William
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/dianthus.html#Brilliant-dianthus-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Dianthus deltoides" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-dianthus-brilliant-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Brilliant Dianthus
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/dianthus.html#cheddar-pink-dianthus-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Dianthus gratianopolitanus" height="100" id="Dianthus gratianopolitanus " src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-dianthus-cheddar-pinks-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Cheddar Pink Dianthus
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/dianthus.html#Sooty-sweet-william-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Dianthus barbatus" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-dianthus-sooty-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Sooty Sweet William
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/echinacea.html">
						<figure class="RelatedLinks_figure">
							<img alt="Echinacea spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-echinacea-cheyenne-spirit-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Echinacea
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/evening_primrose.html">
						<figure class="RelatedLinks_figure">
							<img alt="Oenothera spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-evening-primrose-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Evening Primrose
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/forgetmenotper.html#Victoria-Blue-forget-me-not-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Myosotis sylvatica" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-forget-me-not-victoria-series-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Victoria Blue Forget-me-not
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/foxglove.html#Camelot-Series-foxglove-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Digitalis purpurea" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant_foxglove_camelot_series_flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Camelot Foxglove
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/foxglove.html#Dalmatian-Series-foxglove-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Dalmation foxgloves blooms their first season. Digitalis purpurea" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-foxglove-dalmation-series-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Dalmatian Foxglove
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/foxglove.html#Foxy-foxglove-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Digitalis purpurea" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-foxglove-foxy-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Foxy Foxglove
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/meconopsis_poppy.html#Frances-Perry-meconopsis-poppy-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Meconopsis cambrica 'Rubra' " height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-poppy-frances-perry-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Frances Perry Meconopsis
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/gaillardia.html">
						<figure class="RelatedLinks_figure">
							<img alt="Gaillardia aristata" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-gaillardia-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Gaillardia
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/gaura.html">
						<figure class="RelatedLinks_figure">
							<img alt="Gaura lindheimeri" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-gaura-the-bride-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Gaura
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/goldenrod.html">
						<figure class="RelatedLinks_figure">
							<img alt="Solidago canadensis" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-goldenrod-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Goldenrod
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/hibiscus.html">
						<figure class="RelatedLinks_figure">
							<img alt="Hibiscus moscheutos" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-hibiscus-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Hibiscus
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/hollyhocks.html">
						<figure class="RelatedLinks_figure">
							<img alt="Alcea rosea" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-hollyhock-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Hollyhock
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/moss_irish.html">
						<figure class="RelatedLinks_figure">
							<img alt="Sagina subulata" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-moss-irish-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Irish Moss
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/jacobs_ladder.html">
						<figure class="RelatedLinks_figure">
							<img alt="Polemonium caeruleum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-jacobs-ladder-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Jacob's Ladder
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/joe_pye_weed.html">
						<figure class="RelatedLinks_figure">
							<img alt="Eupatorium fistulosum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-joe-pye-weed-ivory-towers-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Ivory Towers Joe-pye-weed
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/jupiters_beard.html">
						<figure class="RelatedLinks_figure">
							<img alt="Centranthus ruber" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-jupiters-beard-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Jupiter's Beard
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lavender.html#Blue-Scent-lavender-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Lavandula angustifolia" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lavander-blue-scent-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Blue Scent Lavender
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lavender.html#Mini-Blue-lavander-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Lavandula angustifolia" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lavender-mini-blue-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Mini Blue lavender
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lavender.html#Ellegance-Series-lavender-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Ellagance Series Lavandula angustifolia" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lavender-ellagance-series-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Ellagance Lavender
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lavender.html#Vincenza-Blue-lavander-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Lavandula angustifolia " height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lavender-vincenza-blue-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Vincenza Blue lavander
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lobeliaper.html">
						<figure class="RelatedLinks_figure">
							<img alt="Lobelia x speciosa" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lobelia-compliment-mix-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Lobelia
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lupine.html">
						<figure class="RelatedLinks_figure">
							<img alt="Lupinus polyphyllus" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lupine-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Lupine
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/lychnis.html">
						<figure class="RelatedLinks_figure">
							<img alt="Lychnis spp" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-lychnis-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Lychnis
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/nepeta.html">
						<figure class="RelatedLinks_figure">
							<img alt="Nepeta spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-nepeta-blue-carpet-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Nepeta
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/obedience_plant.html">
						<figure class="RelatedLinks_figure">
							<img alt="Physostegia virginiana" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-obedience-plant-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Obedience Plant
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/penstemon.html">
						<figure class="RelatedLinks_figure">
							<img alt="Penstemon spp" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-penstemon-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Penstemon
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/polygonum.html">
						<figure class="RelatedLinks_figure">
							<img alt="Polygonum capitatum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-pink-pinheads-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Polygonum
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/alpine_poppy.html">
						<figure class="RelatedLinks_figure">
							<img alt="Papaver alpinum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-poppy-alpine-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Alpine Poppy
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/primrose.html#Crescendo-Mix-primrose-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Primula x polyantha" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-primrose-crescendo-mix-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Crescendo Mix primrose
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/prunella.html">
						<figure class="RelatedLinks_figure">
							<img alt="Prunella grandiflora" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-prunella-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Prunella
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/red_hot_poker.html">
						<figure class="RelatedLinks_figure">
							<img alt="Kniphofia spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-red-hot-poker-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Red Hot Poker
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/salviaper.html">
						<figure class="RelatedLinks_figure">
							<img alt="Salvia spp" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant_salvia_flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Salvia
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/sbdaisy.html">
						<figure class="RelatedLinks_figure">
							<img alt="Erigeron karvinskianus" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-santa-barbara-daisy-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Santa Barbara Daisy
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/sea_holly.html#Blue-Glitter-sea-holly-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Eryngium planum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-sea-holly-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Blue Glitter Sea Holly
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/sea_holly.html#White-Glitter-sea-holly-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Eryngium planum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-sea-holly-white-glitter-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								White Glitter Sea Holly
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/sedum.html#Voodoo-sedum-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Sedum spurium" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-sedum-voodoo-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Voodoo Sedum
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/shasta_daisy.html">
						<figure class="RelatedLinks_figure">
							<img alt="Leucanthemum x superbum" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-shasta-daisy-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Shasta Daisy
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/stokesia.html">
						<figure class="RelatedLinks_figure">
							<img alt="Stokesia laevis" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-stokesia-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Stokesia
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/verbascum.html">
						<figure class="RelatedLinks_figure">
							<img alt="Verbascum spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-verbascum-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Verbascum
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/verbena.html#Purple-Top-verbena-seeds">
						<figure class="RelatedLinks_figure">
							<img alt="Verbena bonariensis" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-verbena-purple-top-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Purple Top Verbena
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/veronica.html">
						<figure class="RelatedLinks_figure">
							<img alt="Veronica vincenza" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-veronica-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Veronica
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/wallrock_cress.html">
						<figure class="RelatedLinks_figure">
							<img alt="Arabis caucasica" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-wall-rockcress-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Wall Rockcress
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/yarrow.html">
						<figure class="RelatedLinks_figure">
							<img alt="Achillea spp." height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-yarrow-flowerburst-red-shades-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Yarrow
							</figcaption>
						</figure>
					</a>
					<a class="RelatedLinks_a" href="https://www.swallowtailgardenseeds.com/perennials/zebra_hollyhock.html">
						<figure class="RelatedLinks_figure">
							<img alt="Malva sylvestris" height="100" src="https://www.swallowtailgardenseeds.com/assets/link_icons/perennials/plant-zebra-hollyhock-flowers.jpg" width="100">
							<figcaption class="RelatedLinks_figcaption">
								Zebra Hollyock
							</figcaption>
						</figure>
					</a>
				</div>
{% endblock %}
{% block scripts %}
<script src="https://www.swallowtailgardenseeds.com/scripts/other-scripts.js"></script>
{% endblock %}
