{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{% block title %}Starting Seeds Indoors Under Lights | Swallowtail Garden Seeds{% endblock %}
{% block meta_description %}Step by step instructions to help you successully start seeds indoors under lights.{% endblock %}
{% block meta_keywords %}swallowtail garden seeds, starting your seeds, seed starting{% endblock %}
{% block style %}
      .Sidebar_nav a.tips-stand-out:link{color:#000}
      .seeds-block p{font-size:1.05em;line-height:1.5;margin: 0 3em 1em 0}
      .seeds-block img, .twoColFixLtHdr #main img{float:left;margin: .1875em .625em 1.75em 0}
      .seeds-block{float:left;margin: 0 0 .9375em 0}
      .seeds-block li{display:block;font-size:.9em}
      .seeds-block p{font-size:1.05em;line-height:1.5;margin: 0 3em 1em 0}
{% endblock %}
{% block main %}
				<h1>
					Starting Your Seeds
				</h1>
				<div class="seeds-block">
					<img alt="Zinnia flowers raised from seeds." height="200" src="https://www.swallowtailgardenseeds.com/assets/starting-zinnia-seeds-flowers.jpg" width="100">
					<p>
						Seeds started in winter or early spring are usually started indoors in cell packs or flats 6-8 weeks before the last frost. The keys to successfully starting your seeds are:
					</p>
					<ol>
						<li>
							1) Use a soil-less seed starting mix in clean cell packs or flats.
						</li>
						<li>
							2) Maintain temperatures between 60-80°F.
						</li>
						<li>
							3) Keep the	humidity high.
						</li>
						<li>
							4) Provide a strong source of light, but not direct sun.
						</li>
					</ol>
					<p>
					</p>
				</div>
				<div class="seeds-block">
					<img alt="Swallowtail butterfly sipping nectar from butterfly bush flowers." height="250" src="https://www.swallowtailgardenseeds.com/assets/starting-butterfly-bush-seeds-from-seeds.jpg" width="100">
					<p>
						We start the vast majority of our seedlings in flats filled with Supersoil brand mix. Then we cover the flats with clear plastic humidity domes and place them under (as close as possible) 4 foot pairs of fluorescent lights.
					</p>
					<p>
						The next best coverings are saran wrap or a pane of glass. Turn these covers over daily to avoid excessive buildup of condensation. We alternate warm and soft fluorescent tubes, giving our seedlings the entire spectrum of light they require to thrive.
					</p>
				</div>
				<div class="seeds-block">
					<img alt="Hardy Ice Plant flowers as example of plants easily started from seeds." height="200" src="https://www.swallowtailgardenseeds.com/assets/starting-hardy-ice-pant-flowers-from-seeds.jpg" width="100">
					<p>
						Once seedlings are up remove the humidity dome within a couple of days. The best way to water new seedlings is with a small pump mister bottle. When they have two sets of true leaves they are ready to be transplanted into the garden or larger containers. It is important not to leave the seedlings in the flats too long or they will become spindly and root bound.
					</p>
				</div>
				<div class="seeds-block">
					<img alt="Petunia flowers are started from seeds." height="200" src="https://www.swallowtailgardenseeds.com/assets/starting-your-seeds-petunia-flowers.jpg" width="100">
					<p>
						Seedlings require a “hardening off” period when they are gradually exposed to the stronger light and cooler temperatures of the outdoors. We keep our seedlings in light shade, under an overhang for a few days before transplanting them into the garden.
					</p>
				</div>
				<div class="seeds-block">
					<img alt="Spanish Lavender flowers started from seeds." height="200" src="https://www.swallowtailgardenseeds.com/assets/starting-spanish-lavender-flower-seeds.jpg" width="100">
					<p>
						With practice you will develop your own seed starting style and will likely be surprised at the very wide range of plants that can be started economically from seeds. Remember, the keys are sterile soil and clean cell packs or flats, warm temperatures, high humidity and strong light. Get growing!
					</p>
				</div>
				<div class="seeds-block mb200-">
					<img alt="Calamintha Marvelette Blue flowers Fleuroselect Gold Medal winner 2016." height="200" src="https://www.swallowtailgardenseeds.com/assets/starting-calamintha-marvelette-blue-flowers.jpg" width="100">
					<p>
						This proven method for starting seeds indoors is easy to adapt to outdoor sowing during frost-free months: Place flats or pots in light shade outdoors, keep out of direct sun until germination occurs. Humidity domes are not used in sunlight, remove domes once seedlings sprout.
						<br>
						A water resistant table, placed under an overhang or awning is a highly effective, inexpensive method for starting seeds outdoors.
					</p>
				</div>
{% endblock %}
{% block scripts %}
<script src="https://www.swallowtailgardenseeds.com/scripts/other-scripts.js"></script>
{% endblock %}
