{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "main/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Add Seed</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('seeds.add_seed', _external=True) }}">
{% endblock %}
{% block main %}
            <h1>Add a Seed:</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <ol>
                    <fieldset>
                        <legend>Groups:</legend>
                        <li>
                            {{ form.categories.label }}
                            {{ form.categories }}
                            {% if form.categories.errors|count > 0 %}
                            {{ form_errors(form.categories) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.common_names.label }}
                            {{ form.common_names }}
                            {% if form.common_names.errors|count > 0 %}
                            {{ form_errors(form.common_names) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.botanical_names.label }}
                            {{ form.botanical_names }}
                            {% if form.botanical_names.errors|count > 0 %}
                            {{ form_errors(form.botanical_names) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Data:</legend>
                        <li>
                            {{ form.name.label }}
                            {{ form.name }}
                            {% if form.name.errors|count > 0 %}
                            {{ form_errors(form.name) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.thumbnail.label }}
                            {{ form.thumbnail }}
                            {% if form.thumbnail.errors|count > 0 %}
                            {{ form_errors(form.thumbnail) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.description.label }}
                            {{ form.description }}
                            {% if form.description.errors|count > 0 %}
                            {{ form_errors(form.description) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Status:</legend>
                        <li>
                            {{ form.in_stock.label }}
                            {{ form.in_stock }}
                            {% if form.in_stock.errors|count > 0 %}
                            {{ form_errors(form.in_stock) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.dropped.label }}
                            {{ form.dropped }}
                            {% if form.dropped.errors| count > 0 %}
                            {{ form_errors(form.dropped) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
