{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "main/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Add Packet</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('seeds.add_packet', _external=True) }}">
{% endblock %}
{% block main %}
<h1>Add a Packet to: {{ seed.name }}</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <ol>
                    <fieldset>
                        <legend>Price</legend>
                        <li>
                            {{ form.prices.label }}
                            {{ form.prices }}
                            {% if form.prices.errors|count > 0 %}
                            {{ form_errors(form.prices) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.price.label }}
                            {{ form.price }}
                            {% if form.price.errors|count > 0 %}
                            {{ form_errors(form.price) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Quantity</legend>
                        <li>
                            {{ form.quantities.label }}
                            {{ form.quantities }}
                            {% if form.quantities.errors|count > 0 %}
                            {{ form_errors(form.quantities) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.quantity.label }}
                            {{ form.quantity }}
                            {% if form.quantity.errors|count > 0 %}
                            {{ form_errors(form.quantity) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Unit of Measurement</legend>
                        <li>
                            {{ form.units.label }}
                            {{ form.units }}
                            {% if form.units.errors|count > 0 %}
                            {{ form_errors(form.units) }}
                            {% endif %}
                        </li>
                        <li>

                            {{ form.unit.label }}
                            {{ form.unit }}
                            {% if form.unit.errors|count > 0 %}
                            {{ form_errors(form.unit) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <li>
                        {{ form.sku.label }}
                        {{ form.sku }}
                        {% if form.sku.errors|count > 0 %}
                        {{ form_errors(form.sku) }}
                        {% endif %}
                    </li>
                    <li>
                        {{ form.again.label }}
                        {{ form.again }}
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
