{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Add Section</title>
    {% if ALLOW_CRAWLING %}
    {# If ALLOW_CRAWLING is False, this tag is already generated. #}
    {# If ALLOW_CRAWLING is True, we still don't want admin pages like this crawled. #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}
{% block main %}
      <h1>Add a Section to {{ form.cn.name }}:</h1>
      <form class="admin" method="POST">
        {{ form.hidden_tag() }}
        <ol>
          <li>
            {{ form_field(form.parent)|indent(10)|safe }}
          </li>
          <li>
            {{ form_field(form.name)|indent(10)|safe }}
          </li>
          <li>
            {{ form_field(form.subtitle)|indent(10)|safe }}
          </li>
          <li>
            {{ form_field(form.description)|indent(10)|safe }}
          </li>
          <li>
            <span class="with-tooltip" data-tooltip="Warning: If you set this section as a subsection of another, it will automatically be positioned last in that section. You will need to edit this section to reposition it, if needed.">{{ form_field(form.pos)|indent(10)|safe }}</span>
          </li>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}
