{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "main/base.html" %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
    <title>Swallowtail Garden Seeds - {{ category.header }}</title>
    <link rel="canonical" href="{{ url_for('seeds.category', cat_slug=category.slug, _external=True) }}">
{% endblock %}
{% block main %}
    <h1>{{ category.header }}</h1>
        {% if category.description %}
        <p class="description">{{ category.description|safe }}</p>
        {% endif %}
        <div id="common_names">
            {% if category.common_names %}
            {% for cn in category.common_names %}
            {% if not cn.parent and not cn.syn_parent %}
            <div class="common_name">
                <a href="{{ url_for('seeds.common_name', cat_slug=category.slug, cn_slug=cn.slug) }}">{{ cn.name }}</a>
                {% if cn.description %}
                <p class="description">{{ cn.description|safe }}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
{% endblock %}

