{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "main/base.html" %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% from 'includes/seed_box.html' import seed_box with context %}
{% from 'includes/grows_with.html' import grows_with %}
{% block head %}
        <title>Swallowtail Garden Seeds - {{ cn.header }}</title>
        <link rel="canonical" href="{{ url_for('seeds.common_name', cat_slug=cat.slug, cn_slug=cn.slug, _external=True) }}">
{% endblock %}
{% block main %}
            <div>
                <h1>{{ cn.header }}</h1>
                    <p class="description">{{ cn.description|safe }}</p>
                    {% if cn.gw_common_names or cn.gw_seeds %}<p class="grows_with">Grows nicely with: {{ grows_with(cn) }}.</p>{% endif %}
            </div>
            {% for seed in cn.seeds %}
            {% if not seed.syn_only %}
            {{ seed_box(seed)|indent(12)|safe }}
            {% endif %}
            {% endfor %}
{% endblock %}

