{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 2 spaces each. (4 spaces total.) #}
{# block main: 3 indentations of 2 spaces each. (6 spaces total.) #}
{% from 'includes/cultivar_box.html' import cultivar_box with context %}
{% from 'includes/section.html' import section with context %}
{% block head %}
<title>{{ cn.header }} | {{ count }} varieties</title>
<link rel="canonical" href="{{ url_for('seeds.common_name', idx_slug=cn.index.slug, cn_slug=cn.slug, _external=True) }}">
{% endblock %}
{% block subnav %}
{# BEGIN onpage nav #}
{% if cn.child_sections %}
<div class="onpagenav">
	{% for sec in cn.child_sections %}
	{% if sec.has_public_cultivars or sec.children or current_user.can(Permission.MANAGE_SEEDS) %}
	<a href="#{{ slugify(sec.name) }}"><h2 class="button100">{{ sec.name }}</h2></a>
	{% if sec.children %}
	{% for subsec in sec.children %}
	{% if subsec.has_public_cultivars or current_user.can(Permission.MANAGE_SEEDS) %}
	<a href="#{{ slugify(subsec.name) }}"><h2 class="button50">{{ subsec.name }}</h2></a>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endif %}
	{% endfor %}
	{% if individuals %}
	<a class="to-indv-varieties" href="#individual-varieties"><h2 class="button100">Individual {{ cn.arranged_name }} Varieties</h2></a>
	{% endif %}
	{% endif %}
</div>
{# END onpage nav #}
{% endblock %}
{% block main %}
{% if current_user.can(Permission.MANAGE_SEEDS) %}
<div class="admin">
  <a href="{{ url_for('seeds.edit_common_name', cn_id=cn.id) }}">Edit {{ cn.name }}</a> | <a href="{{ url_for('seeds.add_section', cn_id=cn.id) }}">Add a Section to {{ cn.name }}</a> | <a href="{{ url_for('seeds.remove_common_name', cn_id=cn.id) }}">Remove {{ cn.name }}</a> | <a href="{{ url_for('seeds.add_cultivar', cn_id=cn.id) }}">Add a Cultivar to {{ cn.name }}</a>
</div>
{% endif %}
{# BEGIN common name page header #}
<div class="Header">
	<h1 class="Header_h1">{{ cn.header }}</h1>
	{% if cn.synonyms %}
	<h2 class="Header_h2">{{ cn.synonyms_string }}</h2>
	{% endif %}
	{% if cn.botanical_names %}
	<h3 class="Header_h3">{{ cn.html_botanical_names|safe }}</h3>
	{% endif %}
	{% if cn.instructions %}
	<p class="Header_p"><a href="#{{ cn.slug }}-instructions">How to plant {{ cn.arranged_name }} seeds</a></p>
	{% endif %}
	{% if cn.description %}
	<div class="Introduction"><p class="Introduction_p">{{ cn.description|safe }}</p></div>
	{% endif %}
</div>
{# END common name page header #}
{% if featured %}
<div class="featured">
	{% for cv in featured %}
	{{ cultivar_box(cv)|indent(8)|safe }}
	{% endfor %}
</div>
{% endif %}
{% if cn.child_sections %}
{% for sec in cn.child_sections %}
{% if sec.has_public_cultivars or current_user.can(Permission.MANAGE_SEEDS) %}
{{ section(sec, 6)|indent(6)|safe }}
{% endif %}
{% endfor %}
{% endif %}
{% if individuals %}
{% if cn.sections %}
<div class="cn-group-header cn-individuals-header">
	<h2 id="individual-varieties">Individual {{ cn.arranged_name }} Varieties</h2>
	<a class="to-planting-instructions" href="#{{ cn.slug }}-instructions">How to plant {{ cn.arranged_name }} seeds</a>
</div>
{% endif %}
<div class="cultivar-group cn-individual-cultivars">
	{% for cv in individuals %}
	{% if not cv.featured %}
	{{ cultivar_box(cv)|indent(8)|safe }}
	{% endif %}
	{% endfor %}
</div>
{% endif %}
{% if cn.gw_common_names or cn.gw_cultivars %}
<div class="RelatedLinks">
  {% for gwcn in cn.gw_common_names %}
  <a class="RelatedLinks_a" href="{{ url_for('seeds.common_name', cn_slug=gwcn.slug, idx_slug=gwcn.index.slug) }}">
    <figure class="RelatedLinks_figure">
      {% if gwcn.thumbnail %}
      <img src="{{ url_for('static', filename=gwcn.thumbnail.path) }}" style="height:100px;width:100px;">
      {% endif %}
      <figcaption class="RelatedLinks_figcaption">{{ gwcn.name }}</figcaption>
    </figure>
   </a>
   {% endfor %}
   {% for gwcv in cn.gw_cultivars %}
   <figure class="RelatedLinks_figure">
     {% if gwcv.thumbnail %}
     <img src="{{ url_for('static', filename=gwcv.thumbnail.path) }}" style="height:100px;width:100px;">
     {% endif %}
     <figcaption class="RelatedLinks_figcaption">{{ gwcv.fullname }}</figcaption>
   </figure>
   {% endfor %}
</div>
{% endif %}
{% if cn.instructions %}
<div id="{{ cn.slug }}-instructions" class="Growing">
	<h2 class="Growing_h2">How to Plant {{ cn.arranged_name }} Seeds</h2>
	<p class="Growing_p">
		{{ cn.instructions|indent(6)|safe }}
	</p>
</div>
{% endif %}
{% endblock %}
