{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Edit Index</title>
    {% if ALLOW_CRAWLING %}
    {# If ALLOW_CRAWLING is False, this tag is already generated. #}
    {# If ALLOW_CRAWLING is True, we still don't want admin pages like this crawled. #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <link rel="canonical" href="{{ url_for('seeds.edit_index', _external=True) }}">
{% endblock %}
{% block main %}
      <h1>Edit Index</h1>
      <form class="admin" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <ol>
          <li>
            {{ form_field(form.name)|indent(12)|safe }}
          </li>
          <div>Current thumbnail:</div>
          <div><img src="{{ index.thumbnail.url }}" class="existing_image"></div>
          <li>
            {{ form_field(form.thumbnail)|indent(14)|safe }}
          </li>
          <li>
            {{ form_field(form.thumbnail_filename)|safe }}
          </li>
          <li>
            {{ form_field(form.description)|indent(12)|safe }}
          </li>
          <li>
            {{ form_field(form.pos)|indent(12)|safe }}
          </li>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}
