{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Edit Section</title>
    {% if ALLOW_CRAWLING %}
    {# If ALLOW_CRAWLING is False, this tag is already generated. #}
    {# If ALLOW_CRAWLING is True, we still don't want admin pages like this crawled. #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}
{% block main %}
      <h1>Edit Section: {{ section.name }}</h1>
      <form class="admin" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
          <legend>Section Info</legend>
          <ol>
            <li>
              {{ form_field(form.common_name_id)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.parent_id, tooltip='Warning: Changing this will only work if common name remains the same, otherwise this section will be a top-level section in the new common name until edited.')|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.name)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.subtitle)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.description)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.pos, tooltip='Warning: Position is relative to other sections in the lowest-level container this section belongs to (common name is the highest level, followed by parent section) so if the parent container (parent section or common name) changes, these choices will be invalid. As such, this select will be ignored if common name or parent section are changed, and this section will be inserted last into the sections belonging to its new container.')|indent(14)|safe }}
            </li>
          </ol>
        </fieldset>
        <fieldset>
          <legend>Select Thumbnail</legend>
          <ol>
            <li>
              {{ form_field(form.thumbnail_id, show_label=False)|safe }}
              <div><img src="{{ section.thumbnail.url }}" id="selected-thumbnail"></div>
            </li>
          </ol>
        </fieldset>
        <fieldset>
          <legend>Or Edit/Replace Thumbnail</legend>
            <li>
              {{ form_field(form.thumbnail)|safe }}
            </li>
            <li>
              {{ form_field(form.thumbnail_filename)|safe }}
            </li>
          </ol>
        </fieldset>
        <ol>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}
{% block scripts %}
<script>
  var image_urls = {{ form.image_urls|tojson }};
  $('#thumbnail_id').on('change', function () {
    $('#selected-thumbnail').attr('src', image_urls[$(this).val()]);
  });
</script>
{% endblock %}
