{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Edit Common Name</title>
    {% if ALLOW_CRAWLING %}
    {# If ALLOW_CRAWLING is False, this tag is already generated. #}
    {# If ALLOW_CRAWLING is True, we still don't want admin pages like this crawled. #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}
{% block main %}
      <h1>Edit Common Name</h1>
      <form class="admin" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
          <legend>Common Name Information</legend>
          <ol>
            <li>
              {{ form_field(form.index_id)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.name)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.list_as)|safe }}
            </li>
            <li>
              {{ form_field(form.subtitle)|safe }}
            </li>
            <li>
              {{ form_field(form.botanical_names)|safe }}
            </li>
            <li>
              {{ form_field(form.sunlight)|safe }}
            </li>
            <li>
              {{ form_field(form.description)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.instructions)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.pos)|indent(14)|safe }}
            </li>
          </ol>
        </fieldset>
        <fieldset>
          <legend>Grows With</legend>
          <ol>
            <li>
              {{ form_field(form.gw_common_names_ids)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.gw_sections_ids)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.gw_cultivars_ids)|indent(14)|safe }}
            </li>
          </ol>
        </fieldset>
        <fieldset>
          <legend>Select Thumbnail</legend>
          <ol>
            <li>
              {{ form_field(form.thumbnail_id, show_label=False)|safe }}
              <div><img src="{{ cn.thumbnail.url }}" id="selected-thumbnail"></div>
            </li>
          </ol>
        </fieldset>
        <fieldset>
          <legend>Or Edit/Replace Thumbnail</legend>
          <ol>
            <li>
              {{ form_field(form.thumbnail)|safe }}
            </li>
            <li>
              {{ form_field(form.thumbnail_filename)|safe }}
            </li>
          </ol>
        </fieldset>
        <ol>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}
{% block scripts %}
<script>
  var image_urls = {{ form.image_urls|tojson }};
  $('#thumbnail_id').on('change', function () {
    $('#selected-thumbnail').attr('src', image_urls[$(this).val()]);
  });
</script>
{% endblock %}
