{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "main/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Edit Cultivar</title>
        <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block main %}
        <h1>Edit Cultivar: {{ cultivar.fullname }}</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <ol>
                    <fieldset>
                        <legend>Groups:</legend>
                        <li>
                            {{ form_field(form.common_name)|indent(28)|safe }}
                        </li>
                        <li>
                            {{ form_field(form.botanical_name)|indent(28)|safe }}
                        </li>
                        <li>
                            {{ form_field(form.series)|indent(28)|safe }}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Data:</legend>
                        <li>
                            {{ form_field(form.name)|indent(28)|safe }}
                        </li>
                        <div>Current thumbnail:</div>
                        <div><img src="{{ url_for('static', filename=cultivar.thumbnail.path) }}"></div>
                        <li>
                            {{ form_field(form.thumbnail)|indent(28)|safe }}
                        </li>
                        <li>
                            {{ form_field(form.description)|indent(28)|safe }}
                        </li>
                        <li>
                            {{ form_field(form.synonyms)|indent(28)|safe }}
                    </fieldset>
                    <fieldset>
                        <legend>Status:</legend>
                        <li>
                            {{ form_field(form.in_stock)|indent(28)|safe }}
                        </li>
                        <li>
                            {{ form_field(form.active)|indent(28)|safe }}
                        </li>
                        <li>
                            {{ form_field(form.visible)|indent(28)|safe }}
                        </li>
                    </fieldset>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
