{% extends "main/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Edit Common Name</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('seeds.edit_common_name', _external=True) }}">
{% endblock %}
{% block main %}
            <h1>Edit Common Name</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <ol>
                    <fieldset>
                        <legend>Add/Remove Categories</legend>
                        <div>Current categories: {{ current_categories }}.</div>
                        <li>
                            {{ form.add_categories.label }}
                            {{ form.add_categories }}
                            {% if form.add_categories.errors|count > 0 %}
                            {{ form_errors(form.add_categories) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.remove_categories.label }}
                            {{ form.remove_categories }}
                            {% if form.remove_categories.errors|count > 0 %}
                            {{ form_errors(form.remove_categories) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Edit Common Name Information</legend>
                        <li>
                            {{ form.name.label }}
                            {{ form.name }}
                            {% if form.name.errors|count > 0 %}
                            {{ form_errors(form.name) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.description.label }}
                            {{ form.description }}
                            {% if form.description.errors|count > 0 %}
                            {{ form_errors(form.description) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
