{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Edit Cultivar</title>
    {% if ALLOW_CRAWLING %}
    {# If ALLOW_CRAWLING is False, this tag is already generated. #}
    {# If ALLOW_CRAWLING is True, we still don't want admin pages like this crawled. #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}
{% block main %}
      <h1>Edit Cultivar: {{ cultivar.fullname }}</h1>
      <form class="admin" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <ol>
          <fieldset>
            <legend>Cultivar Information</legend>
            <li>
              {{ form_field(form.common_name_id)|indent(14)|safe }}
            </li>
              {{ form_field(form.name)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.subtitle)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.botanical_name)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.section_id)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.organic)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.taxable)|indent(14)|safe }}
            </li>
            <li>
            <div>Current thumbnail:</div>
            <div><img src="{{ cultivar.thumbnail.url }}" class="existing_image"></div>
            <li>
              {{ form_field(form.thumbnail)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.thumbnail_filename)|safe }}
            </li>
            <li>
              {{ form_field(form.description)|indent(14)|safe }}
            </li>
            <li>
              <span class="with-tooltip" data-tooltip="Warning: Position is relative to other cultivars in the lowest-level container this cultivar belongs to (common name is the highest container, followed by section/subsection this cultivar is in) so if common name or section are changed, this cultivar will be listed last in whatever its new parent container is, and will need to be edited again if it needs to be repositioned.">{{ form_field(form.pos)|indent(14)|safe }}</span>
            </li>
          </fieldset>
          <fieldset>
            <legend>Grows With</legend>
            <li>
              {{ form_field(form.gw_common_names_ids)|indent(14)|safe }}
            </li>
            <li>
               {{ form_field(form.gw_sections_ids)| indent(14)|safe }} 
            </li>
            <li>
              {{ form_field(form.gw_cultivars_ids)|indent(14)|safe }}
            </li>
          </fieldset>
          <fieldset>
            <legend>Status:</legend>
            <li>
              {{ form_field(form.new_for)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.featured)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.in_stock)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.active)|indent(14)|safe }}
            </li>
            <li>
              {{ form_field(form.visible)|indent(14)|safe }}
            </li>
          </fieldset>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}
