{% extends "main/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
        <title>Edit Botanical Name</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('seeds.edit_botanical_name', _external=True) }}">
{% endblock %}
{% block main %}
            <h1>Edit Botanical Name</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <ol>
                    <fieldset>
                        <legend>Add/Remove Common Names</legend>
                        <div>Current common names: {{ current_common_names }}.</div>
                        <li>
                            {{ form.add_common_names.label }}
                            {{ form.add_common_names }}
                            {% if form.add_common_names.errors|count > 0 %}
                            {{ form_errors(form.add_common_names) }}
                            {% endif %}
                        </li>
                        <li>
                            {{ form.remove_common_names.label }}
                            {{ form.remove_common_names }}
                            {% if form.remove_common_names.errors|count > 0 %}
                            {{ form_errors(form.remove_common_names) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <fieldset>
                        <legend>Edit Botanical Name Information</legend>
                        <li>
                            {{ form.name.label }}
                            {{ form.name }}
                            {% if form.name.errors|count > 0 %}
                            {{ form_errors(form.name) }}
                            {% endif %}
                        </li>
                    </fieldset>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
