{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% extends "includes/base.html" %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
<title>Swallowtail Garden Seeds</title>
<link rel="canonical" href="{{ url_for('seeds.home', _external=True) }}">
<style>
#main a{border-bottom:none;}
.Home_header{text-align:center;margin:2.75em 1.2em 2.1em 1.2em;}
.Home_header-h1{margin-top:-.5em;}
.Home_header-h3{font-size:1.25em;margin-top:-.25em;}
.Home_header-span{color:#832F2F}
.Home_link-boxes {text-align:center;}
.Home_link-box{display:inline-block;position:relative;vertical-align:top;margin:0 1.05em 2.25em 1.05em;width:195px;height:260px;border:.08em solid #832f2f;border-radius:.4em;}
.Home_link-box-caption{font-family:"Droid sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif;display:block;color:#141414;background:#e0e0e0;border-top-left-radius:.35em;border-top-right-radius:.35em;padding:.3em 0;margin:0;text-align:center;border-bottom:.08em solid #832f2f;font-size:1em;}
.Home_link-box-link{position:absolute;top:0px;left:0px;width:100%;height:100%;}
#Home_annual-flower-seeds-image{background:url(http://www.swallowtailgardenseeds.com/images/index-image-links/annual-flower-seeds4.jpg);background-size:101%;}
#Home_perennial-flower-seeds-image{background:url(http://www.swallowtailgardenseeds.com/images/index-image-links/perennial-flower-seeds.jpg);background-size:101%;}
#Home_flowering-vine-seeds-image{background:url(http://www.swallowtailgardenseeds.com/images/index-image-links/flowering-vine-seeds2.jpg);background-size:101%;}
#Home_vegetable-seeds-image{background:url(http://www.swallowtailgardenseeds.com/images/index-image-links/vegetable-seeds2.jpg);background-size:101%;}
#Home_herb-seeds-image{background:url(http://www.swallowtailgardenseeds.com/images/index-image-links/herb-seeds2.jpg);background-size:101%;}
#Home_bulk-seed-sales-image{background:url(http://www.swallowtailgardenseeds.com/images/index-image-links/bulk-catalog3.jpg);background-size:101%;}
.Home_team{background-color:#e0e0e0;width:75%;margin:1em auto 2em auto;border:.08em solid #832f2f;border-radius:.4em;}
.Home_team-image{width:100%;height:auto;border-top-left-radius:.35em;border-top-right-radius:.35em;border-bottom:.08em solid #832f2f;}
.Home_team-info{font-family:"Droid sans","Lucida Sans Unicode",Helvetica,Arial,sans-serif;color:#141414;border-bottom-left-radius:.35em;border-bottom-right-radius:.35em;text-align:center;margin:0;padding:.25em .5em;}
@media all and (min-width:48em){
.Home_header{text-align:left;}
.Home_header-h3{margin-top:-.85em;}
.Home_team{width:65%;}
}
</style>
{% endblock %}
{% block main %}
<div class="Home_header">
	<h3 class="Home_header-h3"><span class="Home_header-span">2016 Seed Catalog</span></h3>
	<h1 class="Home_header-h1">Swallowtail Garden&nbsp;Seeds</h1>
	<h3 class="Home_header-h3">1,800+ varieties of flower, vegetable, and herb seeds.</h3>
</div>
<div class="Home_link-boxes">
	<div class="Home_link-box" id="Home_annual-flower-seeds-image">
		<h2 class="Home_link-box-caption">Annual Flower Seeds</h2>
		<a class="Home_link-box-link" title="Annual flowers" href="http://www.swallowtailgardenseeds.com/annualsA-Z.html"></a>
	</div>
	<div class="Home_link-box" id="Home_perennial-flower-seeds-image">
		<h2 class="Home_link-box-caption">Perennial Flower Seeds</h2>
		<a class="Home_link-box-link" title="Perennial flowers" href="http://www.swallowtailgardenseeds.com/perennialsA-Z.html"></a>
	</div>
	<div class="Home_link-box" id="Home_flowering-vine-seeds-image">
		<h2 class="Home_link-box-caption">Flowering Vine Seeds</h2>
		<a class="Home_link-box-link" title="Flowering vines" href="http://www.swallowtailgardenseeds.com/vinesaz.html"></a>
	</div>
	<div class="Home_link-box" id="Home_vegetable-seeds-image">
		<h2 class="Home_link-box-caption">Vegetable Seeds</h2>
		<a class="Home_link-box-link" title="Vegetables" href="http://www.swallowtailgardenseeds.com/vegetablesaz.html"></a>
	</div>
	<div class="Home_link-box" id="Home_herb-seeds-image">
		<h2 class="Home_link-box-caption">Herb Seeds</h2>
		<a class="Home_link-box-link" title="Culinary and medicinal herbs" href="http://www.swallowtailgardenseeds.com/herbsaz.html"></a>
	</div>
	<div class="Home_link-box" id="Home_bulk-seed-sales-image">
		<h2 class="Home_link-box-caption">Bulk Seed Sales</h2>
		<a class="Home_link-box-link" title="Wholesale seed sales" rel="nofollow" href="https://shop.swallowtailgardenseeds.com/ShoppingCart/buy/ProductList_59.asp&#63;sid&#61;59&amp;ARB&#61;B"></a>
	</div>
</div>
<div class="Home_team">
	<img class="Home_team-image" title="Levon, Junior, Vianey, Mary, Claudia, Nicholas, Ben." src="http://www.swallowtailgardenseeds.com/images/swallowtail-garden-seeds-team-at-the-garden.jpg" alt="Swallowtail Garden Seeds Team">
	<p class="Home_team-info"><b>We are proud to offer you a unique selection of hybrid and heirloom seeds, including new varieties of annuals, perennials, flowering vines, vegetables and herbs.</b>
	</p>
	<p class="Home_team-info fs90-"><em>~ Levon, Junior, Vianey, Mary, Claudia, Nicholas, Ben, and&nbsp;the&nbsp;entire&nbsp;staff of&nbsp;Swallowtail&nbsp;Garden&nbsp;Seeds.</em>
	</p>
</div>
{% endblock %}
