{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Swallowtail Garden Seeds - {{ index.header }}</title>
    <link rel="canonical" href="{{ url_for('seeds.index', idx_slug=index.slug, _external=True) }}">
{% endblock %}
{% block main %}
      <h1>{{ index.header }}</h1>
      {% if index.description %}
      <div class="description">{{ index.description|safe }}</div>
      {% endif %}
      <div id="common_names">
        {% if index.common_names %}
        {% for cn in index.common_names %}
        {% if not cn.parent and not cn.invisible %}
        <div class="common_name">
          <a href="{{ url_for('seeds.common_name', idx_slug=index.slug, cn_slug=cn.slug) }}">{{ cn.name }}</a>
          {% if cn.description %}
          <p class="description">{{ cn.description|safe }}</p>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
{% endblock %}
