{% extends "main/base.html" %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% block head %}
    <title>Swallowtail Garden Seeds - Seeds</title>
    <link rel="canonical" href="{{ url_for('seeds.index', _external=True) }}">
{% endblock %}
{% block main %}
        <h1>Seeds</h1>
        {% for category in categories %}
        <div class="category">
            <h2>{{ category.category }}</h2>
            <p class="description">{{ category.description|safe }}</p>
        </div>
        {% endfor %}
{% endblock %}
