{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{# Indent block head content 4 spaces, and block main content 6 spaces. #}
{% block head %}
    <title>Manage Seeds</title>
    {% if ALLOW_CRAWLING %}
    {# If ALLOW_CRAWLING is False, this tag is already generated. #}
    {# If ALLOW_CRAWLING is True, we still don't want admin pages like this crawled. #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <link rel="canonical" href="{{ url_for('seeds.manage', _external=True) }}">
{% endblock %}
{% block main %}
      <h1>Manage Seeds</h1>
      <h2>Add:</h2>
      <div>
        <a href="{{ url_for('seeds.add_index') }}">Index</a>
        <a href="{{ url_for('seeds.add_common_name') }}">Common Name</a>
        <a href="{{ url_for('seeds.add_section') }}">Section</a>
        <a href="{{ url_for('seeds.add_cultivar') }}">Cultivar</a>
        <a href="{{ url_for('seeds.add_packet') }}">Packet</a>
        <a href="{{ url_for('seeds.add_redirect') }}">Redirect</a>
      </div>
      <div>
        <a href="{{ url_for('seeds.add_bulk_category') }}">Bulk Category</a>
        <a href="{{ url_for('seeds.add_bulk_series') }}">Bulk Series</a>
        <a href="{{ url_for('seeds.add_bulk_item') }}">Bulk Item</a>
      </div>
      <h2>Edit:</h2>
      <div>
        <a href="{{ url_for('seeds.edit_index') }}">Index</a>
        <a href="{{ url_for('seeds.edit_common_name') }}">Common Name</a>
        <a href="{{ url_for('seeds.edit_section') }}">Section</a>
        <a href="{{ url_for('seeds.edit_cultivar') }}">Cultivar</a>
        <a href="{{ url_for('seeds.edit_packet') }}">Packet</a>
      </div>
      <div>
        <a href="{{ url_for('seeds.edit_bulk_category') }}">Bulk Category</a>
        <a href="{{ url_for('seeds.edit_bulk_series') }}">Bulk Series</a>
        <a href="{{ url_for('seeds.edit_bulk_item') }}">Bulk Item</a>
      </div>
      <h2>Remove:</h2>
      <div>
        <a href="{{ url_for('seeds.remove_index') }}">Index</a>
        <a href="{{ url_for('seeds.remove_common_name') }}">Common Name</a>
        <a href="{{ url_for('seeds.remove_section') }}">Section</a>
        <a href="{{ url_for('seeds.remove_cultivar') }}">Cultivar</a>
        <a href="{{ url_for('seeds.remove_packet') }}">Packet</a>
      </div>
      <div>
        <a href="{{ url_for('seeds.remove_object', model='Bulk Category') }}">Bulk Category</a> | <a href="{{ url_for('seeds.remove_object', model='Bulk Series') }}">Bulk Series</a> | <a href="{{ url_for('seeds.remove_object', model='Bulk Item') }}">Bulk Item</a>
      </div>
      {% if pending.changes %}
      <h2>Changes Pending Restart of Application:</h2>
      <div class="pending_changes">{{ pending.changes|safe }}</div>
      {% endif %}
      {% if lc %}
      <div class="last_commit">Last git commit made: {{ lc.timestamp }}</div>
      {% endif %}
{% endblock %}
