{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_field.html" import form_field %}
{% block title %}Remove {{ model }}{% endblock %}
{% block meta_robots %}noindex, nofollow{% endblock %}
{% block main %}
      <h1>Remove {{ model }}</h1>
      <form class="admin" method="POST">
        {{ form.hidden_tag() }}
        <ol>
          <li>
            <div>Removing {{ model }}: {{ name }} from the database cannot be undone. Delete it anyway?</div>
            {{ form_field(form.verify_removal)|safe }}
          </li>
          <li>
            {{ form.submit }}
          </li>
        </ol>
      </form>
{% endblock %}

