{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% extends "includes/base.html" %}
{% from "includes/form_errors.html" import form_errors %}
{# HTML within blocks should be indented as follows for consistency: #}
{# block head: 2 indentations of 4 spaces each. (8 spaces total.) #}
{# block main: 3 indentations of 4 spaces each. (12 spaces total.) #}
{% from 'includes/cultivar_box.html' import cultivar_box with context %}
{% block head %}
        <title>Remove Cultivar</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="canonical" href="{{ url_for('seeds.remove_cultivar', _external=True) }}">
{% endblock %}
{% block main %}
            <h1>Remove Cultivar:</h1>
            {{ cultivar_box(cultivar)|indent(12)|safe }}
            <form method="POST">
                {{ form.hidden_tag() }}
                <ol>
                    <li><div class="warning">Are you sure you want to remove the cultivar '{{ cultivar.fullname }}'?</div>
                        {{ form.verify_removal.label }}
                        {{ form.verify_removal }}
                        {% if form.verify_removal.errors|count > 0 %}
                        {{ form_errors(form.verify_removal) }}
                        {% endif %}
                    </li>
                    <li>
                        {{ form.delete_images.label }}
                        {{ form.delete_images }}
                        {% if form.delete_images.errors|count > 0 %}
                        {{ form_errors(form.delete_images) }}
                        {% endif %}
                    </li>
                    <li>
                        {{ form.submit }}
                    </li>
                </ol>
            </form>
{% endblock %}
