{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
<p>Dear Swallowtail Garden Seeds user,</p>
<p>You are recieving this email because a request has been made to reset the password for your account at {{ url_for('main.index', _external=True) }}. If you wish to reset your password, you may do so by following this link:</p>
</p><a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">{{ url_for('auth.reset_password', token=token, _external=True) }}</a></p>
<p>If you did not make this request, you can safely ignore this email.</p>
<p>We hope to see you again soon,</p>
<p>The Swallowtail Garden Seeds Team</p>
