<p>Dear Swallowtail Garden Seeds user,</p>
<p>You are recieving this email because a request has been made to reset the password for your account at {{ url_for('main.index', _external=True) }}. If you wish to reset your password, you may do so by following this link:</p>
</p><a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">{{ url_for('auth.reset_password', token=token, _external=True) }}</a></p>
<p>If you did not make this request, you can safely ignore this email.</p>
<p>We hope to see you again soon,</p>
<p>The Swallowtail Garden Seeds Team</p>
