{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{# This is our main skeleton template, from which other pages inherit. #}
{# It should only contain elements we want on all pages. #}
{# The head block should be indented 4 spaces in derived pages. #}
{# The main block should be indented 6 spaces in derived pages. #}
{% from "includes/auto_plural.html" import auto_plural %}
{% set nav_data = load_nav_data() %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic%7cDroid+Sans:400,700'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/assets/favicon.ico') }}">
		{% if not ALLOW_CRAWLING %}
    <!-- ALLOW_CRAWLING is set to False. Please set it to True if you want pages to be crawled by robots! -->
		<meta name="robots" content="noindex, nofollow">
		{% endif %}
		{% block head %}{% endblock %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/present.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/database.css') }}">
	</head>
	<body>
		<div class="Page_header">
			<div class="Page_header-contact-bar">
				<p class="Page_header-contact-bar-p"><b>Toll Free: 1-877-489-7333<br class="no-desktop-display"><a class="Page_header-contact-bar-email-link" href="mailto:info@swallowtailgardenseeds.com">info@swallowtailgardenseeds.com</a></b>
				</p>
			</div>
			<div class="Page_header-banner-container">
				<a class="Page_header-banner-home-link" href="{{ url_for('main.index') }}"></a><img class="Page_header-banner" src="{{ url_for('static', filename='images/assets/sgs-banner.jpg') }}" alt="Swallowtail Garden Seeds">
			</div>
    </div>
    {# BEGIN Shopping Cart Link #}
{#    {% set cart_items = sum_cart_items() %}
    <a class="cart-link" href="{{ url_for('shop.cart') }}">Your Cart: {{ cart_items }} item{% if cart_items > 1 or cart_items == 0 %}s{% endif %}</a>
#}
    {# END Shopping Cart Link #}
		{% include "includes/main_nav.html" %}
		{% block subnav %}{% endblock %}
		{% include "includes/admin_nav.html" -%}
		<div id="main" class="group" role="main">
			{% if crumbs %}
			{% include "includes/breadcrumbs.html" %}
			{% endif %}
			{% include "includes/flashed.html" %}
			{% block main %}
			{% endblock %}
		</div>
<!--		<div class="Sidebar">
			<p class="Sidebar_global-message-box">
				<b>Orders placed today will ship<br>on Wednesday, July 20th.</b>
			</p>
			<div class="Sidebar_social">
				<a href="https://www.facebook.com/swallowtailgardenseeds" target="_blank">
					<img class="Sidebar_social_image" src="{{ url_for('static', filename='images/assets/social/facebook.jpg') }}" alt="Like us on Facebook."></a>
				<a href="https://www.pinterest.com/swallowtailseed/" target="_blank">
					<img class="Sidebar_social_image" src="{{ url_for('static', filename='images/assets/social/pinterest.jpg') }}" alt="Check out our pins and boards on Pinterest."></a>
				<a href="https://www.flickr.com/photos/swallowtailgardenseeds/" target="_blank">
					<img class="Sidebar_social_image" src="{{ url_for('static', filename='images/assets/social/flickr.jpg') }}" alt="View our photos on Flickr."></a>
				<a href="https://twitter.com/swallowtailg" target="_blank">
					<img class="Sidebar_social_image" src="{{ url_for('static', filename='images/assets/social/twitter.jpg') }}" alt="Follow us on Twitter."></a>
				<a href="https://www.instagram.com/swallowtailgardenseeds/" target="_blank">
					<img class="Sidebar_social_image" src="{{ url_for('static', filename='images/assets/social/instagram.jpg') }}" alt="Follow us on Instagram."></a>
			</div>
			{% from 'includes/make_detailed_nav.html' import make_detailed_nav %}
			{% block detailed_nav %}
			{{ make_detailed_nav(nav_data) }}
			{% endblock %}
		</div>-->
		<div class="Footer">
			<a class="Footer_site-map-link" href="{{ url_for('main.static_html', page='site-map',  _external=True) }}">Site Map</a>
			<p class="Footer_copyright_p">Copyright&nbsp;&#169;&nbsp;2016 Swallowtail&nbsp;Garden&nbsp;Seeds - All&nbsp;Rights&nbsp;Reserved
			</p>
			<p class="Footer_copyright_p Footer_copyright_p2">Copyright pertains to all images, none of which may be reproduced in any form without<br class="no-mobile-display"> the expressed written consent of Swallowtail Garden Seeds.
			</p>
			<a href="https://seal.godaddy.com/verifySeal?sealID=FgdBKY27IIpHp2q5LkxzgzlbX27e0tqGEF9J5PgG2j7VUTmpgtsRrz" onclick="return popitup('https://seal.godaddy.com/verifySeal?sealID=FgdBKY27IIpHp2q5LkxzgzlbX27e0tqGEF9J5PgG2j7VUTmpgtsRrz')"><img class="Footer_siteseal" src="http://www.swallowtailgardenseeds.com/image-assets/site-seal.gif" alt="Go Daddy Site Seal"></a>
		</div>
<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
