{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{% from 'includes/snipcart_form.html' import snipcart_form with context %}
{% macro cultivar_box(cultivar) %}
{% if cultivar.active and cultivar.visible or current_user.can(Permission.MANAGE_SEEDS) %}
<div class="Cultivar">
	<img alt="{{ cultivar.fullname }}" class="Cultivar_img" src="{% if cultivar.thumbnail %}{{ cultivar.thumbnail.url }}{% else %}{{ url_for('static', filename='images/assets/default_thumb.jpg') }}{% endif %}">
	{% if not idx_slug %}{% set idx_slug = cultivar.common_name.index.slug %}{% endif %}
	{% if not cn_slug %}{% set cn_slug = cultivar.common_name.slug %}{% endif %}
	{% if cultivar.new_for %}<span class="Cultivar_span_new">New for {{ cultivar.new_for }}</span>{% endif %}
	<small class="Cultivar_small">{% if cultivar.packets[0] %}{{ cultivar.packets[0].sku }}{% endif %}</small>
	<h3 class="Cultivar_h3" id="{{ cultivar.slug }}">{% if config.SHOW_CULTIVAR_PAGES %}<a href="{{ url_for('seeds.cultivar', idx_slug=idx_slug, cn_slug=cn_slug, cv_slug=cultivar.slug)}}">{{ hyphenate(cultivar.name)|safe }}</a>{% else %}{{ hyphenate(cultivar.name)|safe }}{% endif %}
		<em class="Cultivar_em">{% if cultivar.subtitle %}{{ cultivar.subtitle }}{% else %}{{ cultivar.common_name.header }}{% endif %}</em>
		{% if cultivar.botanical_name %}
		<em class="Cultivar_em2">{{ cultivar.botanical_name.fullname|safe }}</em>
		{% endif %}
		{% if cultivar.vegetable_data %}
		<em class="Cultivar_em2">{% if cultivar.vegetable_data.open_pollinated %}<abbr title="Open Pollinated">(OP)</abbr> {% endif %}{% if cultivar.vegetable_data.days_to_maturity %}{{ cultivar.vegetable_data.days_to_maturity }}{% endif %}
		</em>
		{% endif %}
  </h3>
  {% if cultivar.organic %}
  <h4 class="Cultivar_organic">Organically grown.</h4>
  {% endif %}
	{% if cultivar.description %}
		{{ cultivar.description|safe }}
		{% endif %}
    {% if cultivar.grows_with %}
  <p class="Cultivar_p">
    Grows nicely with {{ cultivar.gw_links|safe }}.
  </p>
    {% endif %}
    {% if cultivar.noship_states %}
    <span class="Cultivar_do_not_ship">{{ cultivar.noship_states_html|safe }}</span>
    {% endif %} 
  {% if cultivar.packets %}
  {# BEGIN old add to cart form #}
  {#
  <div class="packet-info">
    {{ packet.quantity.html_value|safe }} {{ packet.quantity.units }} - ${{ packet.price }}
  </div>
  {% if cultivar.in_stock %}
  <form class="add-to-cart-form" method="POST" action="{{ url_for('shop.add_to_cart', product_number=packet.sku, origin=cultivar.url) }}">
    {{ packet.form.hidden_tag() }}
    <div class="add-to-cart-fields">
      Qty: {{ packet.form.quantity(class='add-to-cart-quantity') }} {{ packet.form.submit(class='add-to-cart-submit') }}
    </div>
  </form>
  {% else %}
    <div class="add-to-cart-out-of-stock">OUT OF STOCK</div>
  {% endif %}
  #}
  {# END old add to cart form #}
  {# BEGIN Snipcart add to cart form #}
  {# END Snipcart add to cart form #}
    {% if config['USE_SNIPCART'] %}
      {% for packet in cultivar.packets %}
  {{ snipcart_form(packet) }}
      {% endfor %}
    {% endif %}
    {% endif %}
  {# Cultivar admin below #}
	{% if current_user.can(Permission.MANAGE_SEEDS) %}
  {% macro flipper(attr) %}
  {{ cultivar.fullname }} is <em class="status-{% if cultivar[attr] %}true{% else %}false{% endif %}">{% if not cultivar[attr] %}not {% endif %}{{ attr }}</em><a class="toggle-{% if cultivar[attr] %}false{% else %}true{% endif %}" href="{{ url_for('seeds.flip_cultivar_bool', cv_id=cultivar.id, attr=attr, origin=request.path + '#' + cultivar.slug) }}">Set as {% if cultivar[attr] %}not {% endif %}{{ attr }}</a>
  {% endmacro %}
	<div class="cultivar-admin">
		<h3>ADMIN - Options for {{ cultivar.fullname }}:</h3>
		<ul class="cultivar-status">
			<li>
        {{ flipper('featured') }}
			</li>
			<li>
        {{ flipper('in stock') }}
			</li>
			<li>
        {{ flipper('active') }}
			</li>
			<li>
        {{ flipper('visible') }}
			</li>
      <li>
        {{ flipper('taxable') }}
      </li>
		</ul>
    <a title="move up/backward" href="{{ url_for('seeds.move_cultivar', cv_id=cultivar.id, delta=-1, origin=request.path + '#{}'.format(cultivar.slug)) }}">&#9650;</a> | <a href="{{ url_for('seeds.edit_cultivar', cv_id=cultivar.id) }}">Edit {{ cultivar.fullname }}</a> | <a href="{{ url_for('seeds.remove_cultivar', cv_id=cultivar.id) }}">Remove {{ cultivar.fullname }}</a> | <a title="move down/forward" href="{{ url_for('seeds.move_cultivar', cv_id=cultivar.id, delta=1, origin=request.path + '#{}'.format(cultivar.slug)) }}">&#9660;</a>
		<div class="packet-admin">
			<h4>Packets for {{ cultivar.fullname }}:</h4>
			{% if cultivar.packets %}
			<ul class="packet-options">
				{% for packet in cultivar.packets %}
				<li>
					{{ packet.info }}: <a href="{{ url_for('seeds.edit_packet', pkt_id=packet.id) }}">Edit</a> | <a href="{{ url_for('seeds.remove_packet', pkt_id=packet.id) }}">Remove</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			<a href="{{ url_for('seeds.add_packet', cv_id=cultivar.id) }}">Add Packet</a>
		</div>
	</div>
	{% endif %}
</div>
{% endif %}
{% endmacro %}
