{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
{% if config['NOTY_INSTALLED'] %}
<script>
  {% for category, message in messages %}
  noty({
    text: "{{ message.replace('"', '\\"').replace('\r', '').replace('\n', '\\\n')|safe }}",
    closeWith: ["button", "click"],
    theme: "relax",
    layout: "top",
    type: "{% if category == 'error' %}error{% elif category == 'warning' %}warning{% else %}success{% endif %}"
 });
  {% endfor %}
</script>
<noscript>
  {% for category, message in messages %}
    {% if 'Error:' in message or category == 'error' %}
    <div class="flashed_error">{{ message }}
    {% elif 'Warning:' in message or category == 'warning' %}
    <div class="flashed_warning">
      {{ message|indent(12)|safe }}
    {% else %}
    <div class="flashed_success">
      {{ message|indent(12)|safe }}
    {% endif %}
    </div>
    {% endfor %}
  </noscript>
{% else %}
  {% for category, message in messages %}
    {% if 'Error:' in message or category == 'error' %}
    <div class="flashed_error">{{ message }}
    {% elif 'Warning:' in message or category == 'warning' %}
    <div class="flashed_warning">
      {{ message|indent(12)|safe }}
    {% else %}
    <div class="flashed_success">
      {{ message|indent(12)|safe }}
    {% endif %}
    </div>
    {% endfor %}
{% endif %}
  {% endif %}
{% endwith %}

