{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% macro form_field(field, dbifiable=False, show_label=True) %}
{% if show_label %}{% if dbifiable %}{{ field.label(style='display:block;') }}{% else %}{{ field.label }}{% endif %}{% endif %}
{% if dbifiable %}{{ field(class_='dbifiable', style='display:inline;') }}<button type="button" id="dbify-{{ field.id }}" class="dbify-button">dbify!</button>{% else %}{% if kwargs %}{{ field(**kwargs) }}{% else %}{{ field }}{% endif %}{% endif %}
{% if field.errors %}{% for error in field.errors %}
<div class="form_error">{{ error }}</div>
{% endfor %}{% endif %}
{% endmacro %}
