{# This file is part of SGS-Flask.
SGS-Flask is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SGS-Flask is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see
<http://www.gnu.org/licenses/>.
Copyright Swallowtail Garden Seeds, Inc
#}
{# nav needs to be indented 4 spaces fit in with page formatting. #}
    <div class="Main_nav" id="Main_nav">
      <a class="Main_nav-show-hide-links" href="#Main_nav" title="Show Navigation"><span class="menu">&#9776;&nbsp;</span> Show Menu</a>
      <a class="Main_nav-show-hide-links" id="hide" href="#hide" title="Hide Navigation"><span class="menu">&#9776;&nbsp;</span> Hide Menu</a>
      <ul class="Main_nav-links">
        {% for i in nav_data %}
        <li class="Main_nav-{% if i['Slug'] == 'bulk' %}blk{% else %}{{ i['Slug'][:3] }}{% endif %}-lnk  Main_nav-not-shown-links">
          <a href="{{ i['URL'] }}">{{ i['Header'] }}</a>
          {# Subnav commented out until ready to style
          {% if i['Common Names'] %}
          <ul class="Main_nav-drop-down-menu">
            {% for cn in i['Common Names'] %}
            <li class="Main_nav-drop-down-items"><a href="{{ cn['URL'] }}">{{ cn['Name'] }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          #}
        </li>
        {% endfor %}
      </ul>
    </div>
