{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
   #}
{% from "includes/auto_plural.html" import auto_plural %}
{% macro order_summary(order) %}
<div class="order-summary">
  <a href="{{ url_for('shop.cart') }}">Click here</a> to edit your order.
  <table class="order-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for line in order.lines %}
      <tr class="order-line{% if line.noship %} noship-line{% elif not line.in_stock %} out-of-stock-line{% endif %}">
        <td class="line-label">{{ line.label }}</td>
        <td class="line-quantity">{{ line.quantity }} {{ auto_plural('packet', line.quantity) }}</td>
        <td class="line-price">${{ line.price }}</td>
        {% if line.in_stock and not line.noship %}
        <td class="line-total">${{ line.total }}</td>
        {% else %}
        <td>N/A</td>
        {% endif %}
        {% if line.noship %}
        <td class="noship-warning">Cannot ship this seed to {% if line.noship_state %}{{ line.shipping_address.state.name }}{% else %}{{ line.shipping_address.country.name }}{% endif %}.</td>
        {% elif not line.in_stock %}
        <td class="out-of-stock-warning">Out of Stock</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="order-totals-table">
    <tr class="subtotal">
      <td>Subtotal:</td>
      <td>${{ order.before_tax_total }}</td>
    </tr>
    <tr class="shipping-row">
      <td>Shipping:</td>
      <td>{% if order.status == order.NEW %}Calculated During Checkout{% else %}${{ order.shipping_cost }}{% endif %}</td>
    </tr>
    <tr class="tax-row">
      <td>Sales Tax:</td>
      <td>{% if order.status == order.NEW %}Calculated During Checkout{% else %}${{ order.tax }}{% endif %}</td>
    </tr>
    {% if order.status != order.NEW %}
    <tr class="total-row">
      <td>Total:</td>
      <td>${{ order.total }}</td>
    </tr>
    {% endif %}
  </table>
</div>
{% endmacro %}
