{# This file is part of SGS-Flask.

   SGS-Flask is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   SGS-Flask is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
 
   Copyright Swallowtail Garden Seeds, Inc 
#}
{% macro seed_box(seed) %}
{% if not seed.dropped or current_user.can(Permission.MANAGE_SEEDS) %}
<div class="seed_box">
    <img src="{{ url_for('static', filename=seed.thumbnail_path) }}">
    <div class="seed_info">
        {% if current_user.can(Permission.MANAGE_SEEDS) %}
        <span id='seed_admin'>
            Manage this seed: 
            {% if seed.in_stock %}
            Seed is in stock. <a href="{{ url_for('seeds.flip_in_stock', seed_id=seed.id, next=request.path) }}">Set as Out of Stock</a>
            {% else %}
            Seed is out of stock. <a href="{{ url_for('seeds.flip_in_stock', seed_id=seed.id, next=request.path) }}">Set as In Stock</a>
            {% endif %}
            {% if seed.dropped %}
            Seed is dropped. <a href="{{ url_for('seeds.flip_dropped', seed_id=seed.id, next=request.path) }}">Make Active</a>
            {% else %}
            Seed is active. <a href="{{ url_for('seeds.flip_dropped', seed_id=seed.id, next=request.path) }}">Drop</a> | 
            {% endif %}
            <a href="{{ url_for('seeds.edit_seed', seed_id=seed.id) }}">Edit</a>
            <a href="{{ url_for('seeds.remove_seed', seed_id=seed.id) }}">Remove</a>
        </span>
        {% endif %}
        {% if not cat_slug %}{% set cat_slug = seed.categories[0].slug %}{% endif %}
        {% if not cn_slug %}{% set cn_slug = seed.common_name.slug %}{% endif %}
        <h3><a href="{{ url_for('seeds.seed', cat_slug=cat_slug, cn_slug=cn_slug, seed_slug=seed.slug)}}">{{ seed.name }}</a></h3>
        <em>{{ seed.common_name.header }}</em>
        <i>{{ seed.botanical_name.name }}</i>
        <p>{{ seed.description }}</p>
    </div>
    {% if current_user.can(Permission.MANAGE_SEEDS) %}
    <a href="{{ url_for('seeds.add_packet', seed_id=seed.id) }}">Add Packet</a>
    {% endif %}
    {% if seed.packets %}
    <div class="packet_info">
        {% for packet in seed.packets %}
        {% if current_user.can(Permission.MANAGE_SEEDS) %}
        <span id="packet_admin">
            <a href="{{ url_for('seeds.edit_packet', pkt_id=packet.id) }}">Edit Packet</a>
            <a href="{{ url_for('seeds.remove_packet', pkt_id=packet.id) }}">Remove Packet</a>
        </span>
        {% endif %}
        <div>{{ packet.sku }}: {{ packet.quantity }} {{ packet.unit }} - ${{ packet.price }}</div>
        <div>TODO: Cart quantity and submit button</div>{% endfor %} 
    </div>{% endif %}
</div>
{% endif %}
{% endmacro %}
