{% extends "layout.html" %}
{% block content %}
<form method="POST" action="{{ url_for('manage', action='addseed') }}">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {% for error in form.name.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.name }}<br>
    {{ form.binomen.label }}
    {% for error in form.binomen.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.binomen }}<br>
    {{ form.description.label }}
    {% for error in form.description.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.description }}<br>
    {{ form.variety.label }}
    {% for error in form.variety.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.variety }}<br>
    {{ form.category.label }}
    {% for error in form.category.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.category }}<br>
    {{ form.price.label }}
    {% for error in form.price.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.price }}<br>
    {{ form.is_active.label }}
    {% for error in form.is_active.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.is_active }}<br>
    {{ form.in_stock.label }}
    {% for error in form.in_stock.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.in_stock }}<br>
    {{ form.synonyms.label }}
    {% for error in form.synonyms.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.synonyms }}<br>
    {{ form.series.label }}
    {% for error in form.series.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.series }}<br>
    {{ form.thumbnail.label }}
    {% for error in form.thumbnail.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    {{ form.thumbnail }}<br>
    {{ form.submit(class_='submit') }}</span>
</form>
{% endblock %}
