{% extends "layout.html" %}
{% block content %}
<h1>Add a seed to the database:</h1>
<form method="POST" action="{{ url_for('manage', action='addseed') }}">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    {% for error in form.name.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.binomen.label }}
    {{ form.binomen }}
    {% for error in form.binomen.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.description.label }}
    {{ form.description }}
    {% for error in form.description.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.variety.label }}
    {{ form.variety }}
    {% for error in form.variety.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.category.label }}
    {{ form.category }}
    {% for error in form.category.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.price.label }}
    {{ form.price }}
    {% for error in form.price.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.is_active.label }}
    {{ form.is_active }}
    {% for error in form.is_active.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.in_stock.label }}
    {{ form.in_stock }}
    {% for error in form.in_stock.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.synonyms.label }}
    {{ form.synonyms }}
    {% for error in form.synonyms.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.series.label }}
    {{ form.series }}
    {% for error in form.series.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.thumbnail.label }}
    {{ form.thumbnail }}
    {% for error in form.thumbnail.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
    <br>
    {{ form.submit(class_='submit') }}</span>
</form>
{% endblock %}
